Repository microsoft/vscode-docs, pull requests merged in 2018-03, with the labels that each got.

#1452 Update flask debug docs to remote reference to python issue
  docs/python/debugging.md
Labels: don't merge, python

#1461 Add note for experimental debugger
  docs/python/debugging.md
Labels: don't merge, python

#1476 Mention support for pyenv, pipenv, and direnv in Python
  docs/python/environments.md
Labels: don't merge, python

#1459 Added Content Provider tutorial and example
  docs/extensions/example-content-provider.md
  docs/extensions/images/example-content-provider/quickpeek.gif
  docs/extensions/images/example-content-provider/yo1.png
Labels: extensibility

#1477 Change the git repository to upstream repository
  docs/java/java-tutorial.md
Labels: java

#1510 Corrected the typo in 'cwd'
  docs/python/debugging.md
Labels: python

#1513 Text buffer reimplementation.
  blogs/2018/03/fileopen.png
  blogs/2018/03/memoryusage.png
  blogs/2018/03/piece-tree.gif
  blogs/2018/03/read.png
  blogs/2018/03/scrolling.png
  blogs/2018/03/text-buffer-reimplementation.md
  blogs/2018/03/traditional-piece-table.gif
  blogs/2018/03/write.png
  release-notes/fileopen.png
Labels: don't merge

#1532 Python march updates
  docs/python/debugging.md
  docs/python/settings-reference.md
Labels: don't merge
