Repository microsoft/vscode-docs, pull requests merged in 2018-10, with the labels that each got.

#1905 doc: added documentation on python venv (#1878)
  docs/python/environments.md
Labels: python

#1918 Removed docs about python.terminal.activateEnvironment
  docs/python/environments.md
  docs/python/settings-reference.md
Labels: python

#1925 Added links to python formatters
  docs/python/editing.md
Labels: python

#1919 Trivial fixes in Python topic
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#1933 Deploy Python via containers tutorial
  docs/python/images/deploy-azure/azure-account-status-bar.png
  docs/python/images/deploy-azure/azure-sign-in.png
  docs/python/images/deploy-azure/azure-subscription-view.png
  docs/python/images/deploy-containers/add-app-service-setting.png
  docs/python/images/deploy-containers/azure-extensions.png
  docs/python/images/deploy-containers/deploy-find-image.png
  docs/python/images/deploy-containers/deploy-menu.png
  docs/python/images/deploy-containers/deploy-to-app-service.gif
  docs/python/images/deploy-containers/image-in-acr.png
  docs/python/images/deploy-containers/image-list.png
  docs/python/images/deploy-containers/manage-images.png
  docs/python/images/deploy-containers/registries.png
  docs/python/images/deploy-containers/system-prune-command.png
  docs/python/python-tutorial.md
  docs/python/settings-reference.md
  docs/python/tutorial-deploy-containers.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
  docs/python/unit-testing.md
Labels: python

#1906 doc: add conda setting
  docs/python/settings-reference.md
Labels: don't merge, python

#1956 Include a link a to the relevant extensions page in Flask ´s docs
  docs/python/tutorial-flask.md
Labels: python

#1959 Add documentation for the Prospector Python linting tool
  docs/python/linting.md
Labels: python

#1965 Add instructions for getting IntelliSense on PowerShell ps1xml files
  docs/languages/powershell.md
Labels: PowerShell

#1869 Tutorial updates for sample code changes
  docs/python/tutorial-django.md
Labels: python

#1976 [WIP] saying more about pip freeze
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#2027 Update tutorial-django.md
  docs/python/tutorial-django.md
Labels: python

#2080 Update Python test discovery docs
  docs/python/unit-testing.md
Labels: python

#2107 Fixed broken links in topics in /docs/python + minor language edits.
  docs/python/environments.md
  docs/python/linting.md
  docs/python/python-tutorial.md
  docs/python/settings-reference.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#2104 Remove unused import
  docs/python/tutorial-django.md
Labels: python

#2088 Added Links to Python Docs
  docs/python/linting.md
  docs/python/tutorial-deploy-app-service-on-linux.md
Labels: python

#2086 Add powershell/conda note on environments docs
  docs/python/environments.md
Labels: python

#2116 Fix Jinja links
  docs/python/tutorial-flask.md
Labels: python

#2123 Change description of "python.venvPath" setting
  docs/python/settings-reference.md
Labels: python

#2128 Update flask strftime examples
  docs/python/tutorial-flask.md
Labels: python

#2131 Clarify `code .` setup for macOS users in python tutorial
  docs/python/python-tutorial.md
Labels: python
