Repository microsoft/vscode-docs, pull requests merged in 2019-10, with the labels that each got.

#3126 Update the Java jdks
  docs/java/java-azurefunctions.md
Labels: java

#3123 Update ssh.md
  docs/remote/ssh.md
Labels: remote

#3118 docs: don't use PS stdout redirection doing UTF-16
  docs/python/linting.md
Labels: python

#3130 docs: add "Automated publishing" section to "Continuous Integration"
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#3131 Python Jupyter Notebook support updates
  docs/languages/images/python/native-jupyter.png
  docs/languages/python.md
  docs/python/environments.md
  docs/python/images/jupyter/native-code-cells-01.png
  docs/python/images/jupyter/native-code-cells-02.png
  docs/python/images/jupyter/native-code-cells-02a.png
  docs/python/images/jupyter/native-code-cells-03.png
  docs/python/images/jupyter/native-code-cells-04.png
  docs/python/images/jupyter/native-code-cells-05.png
  docs/python/images/jupyter/native-code-cells-06.png
  docs/python/images/jupyter/native-code-cells-07.png
  docs/python/images/jupyter/native-code-cells-08.png
  docs/python/images/jupyter/native-code-cells-09.png
  docs/python/images/jupyter/native-code-cells-10.png
  docs/python/images/jupyter/native-data-viewer.png
  docs/python/images/jupyter/native-intellisense.png
  docs/python/images/jupyter/native-markdown-01.png
  docs/python/images/jupyter/native-markdown-02.png
  docs/python/images/jupyter/native-markdown-03.png
  docs/python/images/jupyter/native-plot-viewer-02.png
  docs/python/images/jupyter/native-plot-viewer.png
  docs/python/images/jupyter/native-toolbar-additional-commands.png
  docs/python/images/jupyter/native-toolbar-convert.png
  docs/python/images/jupyter/native-toolbar-save.png
  docs/python/images/jupyter/native-variable-explorer.png
  docs/python/jupyter-support-py.md
  docs/python/jupyter-support.md
  docs/python/python-on-azure.md
  docs/python/settings-reference.md
  docs/python/testing.md
  docs/python/tutorial-create-containers.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#3140 Update outdated pipenv links.
  docs/python/environments.md
Labels: python

#3150 Fix typo and capitalization
  docs/python/settings-reference.md
Labels: python

#3083 New cpp debugger configurations
  docs/cpp/launch-json-reference.md
Labels: C++, don't merge

#3176 Updating hello - httptrigger-java
  docs/java/java-azurefunctions.md
Labels: java

#3189 Made it clearer this is just for Linux containers
  docs/remote/containers.md
Labels: remote

#3193 Fix typo in java lang intro. Be very explict about how to open getting started from the Command Palette
  docs/languages/java.md
Labels: java

#3192 Add step to copy nginx.conf file
  docs/python/tutorial-create-containers.md
Labels: python

#3196 Fix typo
  docs/python/linting.md
Labels: python
