Repository microsoft/vscode-docs, pull requests merged in 2019-06, with the labels that each got.

#2699 Location of wsgi.ini file is incorrect
  docs/python/tutorial-deploy-containers.md
Labels: python

#2746 Update config-wsl.md
  docs/cpp/config-wsl.md
Labels: C++

#2771 Add settings sync and log stream
  docs/python/images/functions/deployment-popup.png
  docs/python/tutorial-azure-functions.md
Labels: python

#2761 Update vsce-publish docs for -m flag
  api/working-with-extensions/publishing-extension.md
Labels: don't merge

#2804 [Python] Update args for running tests in parallel with pytest-xdist
  docs/python/unit-testing.md
Labels: python

#2813 Add virtualenvwrapper support to docs
  docs/python/environments.md
  docs/python/unit-testing.md
Labels: python
