Repository microsoft/vscode-docs, pull requests merged in 2019-11, with the labels that each got.

#3202 Fix incoherence in Virtual Documents guide
  api/extension-guides/virtual-documents.md
Labels: extensibility

#3181 Python tutorial update
  docs/languages/python.md
  docs/python/images/tutorial/breakpoint-set.png
  docs/python/images/tutorial/debug-configurations.png
  docs/python/images/tutorial/debug-step-02.png
  docs/python/images/tutorial/debug-step-03.png
  docs/python/images/tutorial/debug-toolbar.png
  docs/python/images/tutorial/hello-py-file-created.png
  docs/python/images/tutorial/intellisense01.png
  docs/python/images/tutorial/intellisense02.png
  docs/python/images/tutorial/output-in-terminal.png
  docs/python/images/tutorial/plot-output.png
  docs/python/images/tutorial/python-extension-marketplace.png
  docs/python/images/tutorial/run-python-file-in-terminal-button.png
  docs/python/images/tutorial/run-python-file-in-terminal.png
  docs/python/images/tutorial/toolbar-new-file.png
  docs/python/images/tutorial/toolbar-new-folder.png
  docs/python/images/tutorial/virtual-env-dialog.png
  docs/python/python-tutorial.md
Labels: python

#3214 Add note on how to persist bash history
  docs/remote/containers-advanced.md
Labels: remote

#3197 Add note to dev containers doc emphasising the importance of extension-specific dependencies
  docs/remote/containers.md
Labels: remote

#3236 Make APIs plural.
  api/get-started/extension-anatomy.md
Labels: extensibility

#3235 SSH Updates, Clarification on extensionKind
  api/advanced-topics/remote-extensions.md
  docs/remote/images/ssh/ssh-command-input.png
  docs/remote/images/ssh/ssh-explorer-add-new.png
  docs/remote/images/ssh/ssh-explorer-connect.png
  docs/remote/images/ssh/ssh-explorer-forward-port.png
  docs/remote/images/ssh/ssh-explorer-open-folder.png
  docs/remote/images/ssh/ssh-host-input.png
  docs/remote/images/ssh/ssh-open-folder.png
  docs/remote/images/ssh/ssh-statusbar.png
  docs/remote/ssh.md
Labels: remote

#3237 Fix #3153
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#3239 Java November updates
  docs/java/java-editing.md
Labels: java

#3245 docs: update custom setup with vscode-test
  api/working-with-extensions/testing-extension.md
Labels: extensibility

#3259 docs: Add "icon" property to the "command" example
  api/references/contribution-points.md
Labels: extensibility

#3262 Update C++ and WSL tutorial to use Remote - WSL extension
  docs/cpp/config-wsl.md
  docs/cpp/images/wsl/cpp-extension-notification.png
  docs/cpp/images/wsl/debug-view-variables.png
  docs/cpp/images/wsl/file-explorer-helloworld.png
  docs/cpp/images/wsl/file-explorer-wsl.png
  docs/cpp/images/wsl/g++-build-active-file.png
  docs/cpp/images/wsl/g++-build-and-debug-active-file.png
  docs/cpp/images/wsl/installing-vscode-server.png
  docs/cpp/images/wsl/msg-intellisense.png
  docs/cpp/images/wsl/new-file-button.png
  docs/cpp/images/wsl/wsl-bash-terminal.png
  docs/cpp/images/wsl/wsl-status-bar.png
  docs/cpp/images/wsl/wsl-task-in-terminal.png
Labels: C++

#3271 `env-file` doesn't work in docker-compose
  docs/remote/containers-advanced.md
Labels: remote
