Repository microsoft/vscode-docs, pull requests merged in 2019-05, with the labels that each got.

#2611 Fix broken link for remote debugging in Java
  docs/java/java-azurefunctions.md
Labels: java

#2676 Distinguish Ipython and Ipython Notebook
  docs/python/jupyter-support.md
Labels: python

#2691 Update link in cpp.md
  docs/languages/cpp.md
Labels: C++

#2708 fixing document about syntax sample
  api/language-extensions/syntax-highlight-guide.md
Labels: extensibility
