Repository microsoft/vscode-docs, pull requests merged in 2019-12, with the labels that each got.

#3274 Corrected apt-get command
  docs/remote/troubleshooting.md
Labels: remote

#3281 Fix letter casing for default clang-format config
  docs/cpp/cpp-ide.md
Labels: C++

#3279 Update the Getting Started part for JUnit and TestNG
  docs/java/java-testing.md
Labels: java

#3286 Update advanced remote missing apt update
  docs/remote/containers-advanced.md
Labels: remote

#3297 Add missing quotation mark
  docs/cpp/config-clang-mac.md
  docs/cpp/config-mingw.md
  docs/cpp/config-wsl.md
Labels: C++

#3142 SUSE SLE15+ requirements
  docs/remote/linux.md
Labels: remote

#3229 Describes how to connect to a remote host directly
  docs/remote/ssh.md
Labels: remote

#3285 Mounting host dirs with docker in devcontainer
  docs/remote/containers-advanced.md
Labels: remote
