Repository microsoft/vscode-docs, pull requests merged in 2019-09, with the labels that each got.

#3045 Update tutorial-django.md
  docs/python/tutorial-django.md
Labels: python

#3042 Add info for request type 'test' for debugging tests
  docs/python/testing.md
Labels: python

#3007 Update jupyter-support.md
  docs/python/jupyter-support.md
Labels: python

#3056 Update jupyter-support.md
  docs/python/jupyter-support.md
Labels: python

#3000 Update python-tutorial.md
  docs/python/python-tutorial.md
Labels: python

#3075 Update python-tutorial.md
  docs/python/python-tutorial.md
Labels: python

#3079 Updated Python overview topic
  docs/languages/python.md
  docs/python/settings-reference.md
Labels: python

#3096 Remove automatic indentation docs for Python
  docs/python/editing.md
Labels: python

#3058 Update docs/cpp/colorization-cpp.md
  docs/cpp/colorization-cpp.md
Labels: C++

#3097 Add markers "# region" and "# endregion" for Python
  docs/editor/codebasics.md
Labels: python

#3099 Update python-tutorial.md
  docs/python/python-tutorial.md
Labels: python

#3106 Update containers-advanced.md
  docs/remote/containers-advanced.md
Labels: remote

#3116 Notable Java changes for 1.39 release notes
  release-notes/images/1_39/java-deprecated-method.png
  release-notes/v1_39.md
Labels: java
