Repository microsoft/vscode-docs, pull requests merged in 2019-07, with the labels that each got.

#2830 Add storage binding section to Python Azure Functions
  docs/python/images/functions/add-binding-command.png
  docs/python/tutorial-azure-functions.md
Labels: python

#2832 test terminology update
  docs/python/debugging.md
  docs/python/editing.md
  docs/python/environments.md
  docs/python/images/unit-testing/run-test-commands.png
  docs/python/linting.md
  docs/python/python-tutorial.md
  docs/python/settings-reference.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
  docs/python/unit-testing.md
Labels: python

#2880 Expand contributes configuration
  api/references/contribution-points.md
  api/references/images/contribution-points/settings-ui-enum.png
  api/references/images/contribution-points/settings-ui.png
Labels: extensibility

#2884 fix pylint table
  docs/python/linting.md
Labels: python

#2888 Update config-clang-mac.md
  docs/cpp/config-clang-mac.md
Labels: C++

#2908 Update python-tutorial.md wrt PATH on Windows
  docs/python/python-tutorial.md
Labels: python

#2909 .venv activation and PowerShell execution policy
  docs/python/python-tutorial.md
Labels: python

#2910 Modify hello_there in views.py same as app.py
  docs/python/tutorial-flask.md
Labels: python

#2854 Updates for C/C++ extension
  docs/cpp/c-cpp-properties-schema-reference.md
  docs/cpp/colorization-cpp.md
  docs/cpp/config-clang-mac.md
  docs/cpp/config-mingw.md
  docs/cpp/config-msvc.md
  docs/cpp/config-wsl.md
  docs/cpp/cpp-debug.md
  docs/cpp/cpp-ide.md
  docs/cpp/customize-default-settings-cpp.md
  docs/cpp/enable-logging-cpp.md
  docs/cpp/faq-cpp.md
  docs/cpp/images/clang-mac/intellisense-configurations-mac-clang.png
  docs/cpp/images/clang-mac/mac-command-palette-configurations.png
  docs/cpp/images/cpp/Lightbulb.png
  docs/cpp/images/cpp/c-cpp-properties-file.png
  docs/cpp/images/cpp/command-palette.png
  docs/cpp/images/cpp/compile_commands.png
  docs/cpp/images/cpp/condbreak.png
  docs/cpp/images/cpp/configure-includepath.png
  docs/cpp/images/cpp/cpp-lightbulb.png
  docs/cpp/images/cpp/filesearch.png
  docs/cpp/images/cpp/include-errors.png
  docs/cpp/images/cpp/languages_cpp.png
  docs/cpp/images/cpp/launchjson.png
  docs/cpp/images/cpp/lightbulb-suggestion.png
  docs/cpp/images/cpp/list-members-cpp.png
  docs/cpp/images/cpp/log-filter-selector.png
  docs/cpp/images/cpp/logging-level.png
  docs/cpp/images/cpp/parsing.png
  docs/cpp/images/cpp/peekdefn.png
  docs/cpp/images/cpp/threads.png
  docs/cpp/images/cpp/workspacesearch.png
  docs/cpp/images/mingw/intellisense-configurations-mingw.png
  docs/cpp/images/mingw/quickinfo.png
  docs/cpp/images/msvc/msvc-intellisense-configurations.png
  docs/cpp/images/wsl/intellisense-configurations-wsl.png
  docs/cpp/launch-json-reference.md
  docs/cpp/natvis.md
  docs/cpp/pipe-transport.md
  docs/languages/cpp.md
Labels: C++, don't merge

#2921 Minor fixes to CI page
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#2916 Remove link to broken extension
  api/references/extension-manifest.md
Labels: extensibility

#2920 Update scopes in colorization-cpp.md
  docs/cpp/colorization-cpp.md
Labels: C++
