Repository microsoft/vscode-docs, pull requests merged in 2019-03, with the labels that each got.

#2452 Fix python autocomplete paths for Google AppEngine
  docs/python/editing.md
Labels: python

#2463 Remove inline HTML from code example
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: don't merge, python

#2520 Fix small grammatical error in LSP sample
  api/language-extensions/language-server-extension-guide.md
Labels: extensibility
