Repository microsoft/vscode-docs, pull requests merged in 2020-12, with the labels that each got.

#4127 Bridge tutorials refactor
  docs/containers/bridge-to-kubernetes-aks.md
  docs/containers/bridge-to-kubernetes.md
  docs/containers/minikube.md
Labels: containers

#4158 Bridge tutorials: Add to sitemap and rename H1s
  build/sitemap.xml
  docs/containers/bridge-to-kubernetes-aks.md
  docs/containers/bridge-to-kubernetes.md
  docs/containers/minikube.md
Labels: containers

#4164 1797650: Remove '?view=azure-cli-latest' link syntax
  docs/azure/kubernetes.md
  docs/containers/bridge-to-kubernetes.md
Labels: containers

#4146 Fix Disconnect After Debugging setting description
  docs/containers/bridge-to-kubernetes.md
Labels: containers

#4160 Bridge to Kubernetes: Bug fixes and other clarifications
  docs/containers/bridge-to-kubernetes-aks.md
  docs/containers/bridge-to-kubernetes.md
  docs/containers/minikube.md
Labels: containers

#4171 Added link to CMake Tools on Linux tutorial
  docs/languages/cpp.md
Labels: C++

#4174 Updates to Jupyter articles
  docs/python/data-science-tutorial.md
  docs/python/images/data-science-tutorial/create-notebook.png
  docs/python/images/jupyter/local-remote-connections.PNG
  docs/python/jupyter-support-py.md
  docs/python/jupyter-support.md
Labels: don't merge, python

#4152 Add info about compose task and service subsets
  docs/containers/reference.md
Labels: containers

#4183 Update clone repository link
  docs/remote/containers-advanced.md
Labels: remote

#4207 Fix typo
  api/references/icons-in-labels.md
Labels: extensibility
