Repository microsoft/vscode-docs, pull requests merged in 2020-10, with the labels that each got.

#4043 Update config-clang-mac.md
  docs/cpp/config-clang-mac.md
Labels: C++

#4051 Containers: deploy to ACI
  docs/containers/app-service.md
  docs/containers/images/app-service/ACI-deploy.gif
  docs/containers/images/app-service/deploy-aci-containers-pane.png
  docs/containers/images/app-service/deploy-aci-contexts.png
  docs/containers/images/app-service/deploy-aci-menu.png
Labels: containers

#4050 Removed note about Python2
  docs/python/python-tutorial.md
Labels: python

#4010 Clarify what features are present for Compose
  docs/containers/docker-compose.md
Labels: containers

#4039 Add instructions to install vscode as alternative
  docs/setup/linux.md
Labels: Linux

#4059 Update linux.md
  docs/setup/linux.md
Labels: Linux

#4065 For GitHub Actions use xvfb directly
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#4069 Update cpptools semantic token docs to reflect new semantic tokens API changes
  docs/cpp/colorization-cpp.md
Labels: C++

#4005 Update container reference for new 1.7.0 features
  docs/containers/reference.md
Labels: containers, don't merge

#4080 Bridge to Kubernetes tutorial: fix ordering of steps
  docs/containers/bridge-to-kubernetes.md
Labels: containers

#4073 Added relevant WSL terminal launch code 1 issue.
  docs/supporting/troubleshoot-terminal-launch.md
Labels: remote

#4086 Update c-cpp-properties-schema-reference.md
  docs/cpp/c-cpp-properties-schema-reference.md
Labels: C++

#4089 GH issues updates
  docs/python/coding-pack-python.md
  docs/python/images/jupyter/native-code-cells-11.png
  docs/python/images/jupyter/native-code-cells-11a.png
  docs/python/jupyter-support-py.md
  docs/python/jupyter-support.md
  docs/python/linting.md
Labels: python

#4071 Bridge to Kubernetes Minikube quickstart
  docs/containers/bridge-to-kubernetes.md
  docs/containers/images/minikube/bridge_configure.png
  docs/containers/images/minikube/debug_profile.png
  docs/containers/images/minikube/debugging.png
  docs/containers/images/minikube/enter_port.png
  docs/containers/images/minikube/isolation.png
  docs/containers/images/minikube/launch_task.png
  docs/containers/images/minikube/select-namespace.png
  docs/containers/images/minikube/select_service.png
  docs/containers/images/minikube/stats.png
  docs/containers/minikube.md
Labels: containers
