Repository microsoft/vscode-docs, pull requests merged in 2020-09, with the labels that each got.

#3964 Major updates on project management
  docs/java/images/java-project/projectmanager-addmavendep.PNG
  docs/java/images/java-project/projectmanager-createproject.png
  docs/java/images/java-project/projectmanager-exportjar.gif
  docs/java/images/java-project/projectmanager-javahomeconf.png
  docs/java/images/java-project/projectmanager-overview.png
  docs/java/java-faq.md
  docs/java/java-project.md
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#3969 SSH tutorial updates
  docs/remote/images/ssh-tutorial/add-ssh-public-key.png
  docs/remote/images/ssh-tutorial/vm-nrms-rules.png
  docs/remote/ssh-tutorial.md
Labels: remote

#3963 Remove confusion about .NET Core Docker Config Deprication
  docs/containers/debug-common.md
Labels: containers

#3983 adjust links
  docs/containers/overview.md
Labels: containers

#3902 Update Docker extension's command customization info
  docs/containers/reference.md
Labels: containers

#4004 Correct mistaken merge
  docs/containers/reference.md
Labels: containers

#3993 remove "preview" from c/c++ extension 1
  docs/languages/cpp.md
Labels: C++, don't merge

#4000 remove "preview" from c/c++ extension 2
  docs/cpp/images/cpp/cpp-extension.png
  docs/languages/images/cpp/cpp-extension.png
Labels: C++

#4006 Clarify remote machine container dev instructions
  docs/containers/choosing-dev-environment.md
Labels: containers

#4007 Update mismatch instruction
  api/get-started/your-first-extension.md
Labels: extensibility

#4013 clarify notebook's debugger section
  api/extension-guides/notebook.md
Labels: debug

#4023 Bridge to Kubernetes: Add troubleshooting item
  docs/containers/bridge-to-kubernetes.md
Labels: containers

#3966 Refactor "Create a development container" doc
  docs/remote/create-dev-container.md
  docs/remote/images/containers/connected-to-dev-container.png
  docs/remote/images/containers/container-edit-loop.png
  docs/remote/images/containers/remote-containers-reopen.png
Labels: remote

#4024 Use Dockerfile ENV key=value
  docs/containers/debug-node.md
  docs/python/tutorial-create-containers.md
Labels: containers

#4030 1.renamed installer to Coding Pack for Java; 2. revised the section o…
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java
