Repository microsoft/vscode-docs, pull requests merged in 2020-04, with the labels that each got.

#3520 Remove outdated note about IntelliSense for ES7
  docs/languages/javascript.md
Labels: javascript

#3548 Fixed url typo in docs data-science-tutorial.md
  docs/python/data-science-tutorial.md
Labels: python

#3539 Update Java topics for better readability
  docs/java/images/azure/azure-tools.png
  docs/java/images/java-build/debug-maven-plugin-goals.mp4
  docs/java/images/java-build/maven-add-dependency-2.mp4
  docs/java/images/java-build/maven-add-dependency.mp4
  docs/java/images/java-build/maven-archetype.gif
  docs/java/images/java-build/maven-archetype.mp4
  docs/java/images/java-build/maven-dependency-tree.mp4
  docs/java/images/java-build/maven-effective-pom.gif
  docs/java/images/java-build/maven-effective-pom.mp4
  docs/java/images/java-build/maven-explorer.png
  docs/java/images/java-build/maven-favorite-command.mp4
  docs/java/images/java-build/maven-history.gif
  docs/java/images/java-build/maven-history.mp4
  docs/java/images/java-build/maven-plugin-goal.gif
  docs/java/images/java-build/maven-plugin-goal.mp4
  docs/java/images/java-build/maven-pom-editing.gif
  docs/java/images/java-build/maven-pom-editing.mp4
  docs/java/images/java-build/maven-resolve-unknown-type.mp4
  docs/java/images/java-build/maven-run.gif
  docs/java/images/java-build/maven-run.mp4
  docs/java/java-azurefunctions.md
  docs/java/java-build.md
  docs/java/java-debugging.md
  docs/java/java-editing.md
  docs/java/java-on-azure.md
  docs/java/java-project.md
  docs/java/java-spring-boot.md
  docs/java/java-testing.md
  docs/java/java-tomcat-jetty.md
  docs/java/java-webapp.md
Labels: java

#3545 Updated Python-Quickstart and Debug Python
  docs/containers/debug-python.md
  docs/containers/quickstart-python.md
Labels: containers

#3556 95yc439311c edited java-tutorial.md
  docs/java/java-tutorial.md
Labels: java

#3553 Java Topic restructure - part 2
  docs/java/extensions.md
  docs/java/images/java-editing/call-hierarchy.gif
  docs/java/images/java-editing/create-new-file.gif
  docs/java/images/java-linting/SonarLint.Activate-Deactivate.Rules.gif
  docs/java/images/java-linting/SonarLint.Bug.gif
  docs/java/images/java-linting/SonarLint.Rule.Description.gif
  docs/java/images/java-linting/checkstyle-batch.mp4
  docs/java/images/java-linting/checkstyle-configuration.mp4
  docs/java/images/java-linting/checkstyle-live-linting.mp4
  docs/java/images/java-linting/checkstyle.gif
  docs/java/images/java-linting/checkstyle.mp4
  docs/java/images/java-linting/quick_fix.png
  docs/java/images/java-linting/set_config.png
  docs/java/images/java-refactoring/advancedgettersetter.mp4
  docs/java/images/java-refactoring/assign-to-field.mp4
  docs/java/images/java-refactoring/convert-annonymous-nested.mp4
  docs/java/images/java-refactoring/convert-field.mp4
  docs/java/images/java-refactoring/convert-for-loop.mp4
  docs/java/images/java-refactoring/convert-static-imports.mp4
  docs/java/images/java-refactoring/create-non-exist-package.mp4
  docs/java/images/java-refactoring/extract-field.mp4
  docs/java/images/java-refactoring/extract-local-variable.mp4
  docs/java/images/java-refactoring/extract-rename.mp4
  docs/java/images/java-refactoring/fix-non-access-reference.mp4
  docs/java/images/java-refactoring/generate-constructor.mp4
  docs/java/images/java-refactoring/generate-delegate-methods.mp4
  docs/java/images/java-refactoring/generate-hashcode-equals.mp4
  docs/java/images/java-refactoring/generate-tostring.mp4
  docs/java/images/java-refactoring/getter-setter-selection.png
  docs/java/images/java-refactoring/getter-setter.gif
  docs/java/images/java-refactoring/getter-setter.mp4
  docs/java/images/java-refactoring/inline.mp4
  docs/java/images/java-refactoring/invert-variable.mp4
  docs/java/images/java-refactoring/move-class.mp4
  docs/java/images/java-refactoring/move-inner-type.mp4
  docs/java/images/java-refactoring/move-static-method.mp4
  docs/java/images/java-refactoring/override-implement-methods.mp4
  docs/java/images/java-refactoring/refactor.gif
  docs/java/images/java-refactoring/refactor.mp4
  docs/java/images/java-refactoring/refactoring_menu.png
  docs/java/images/java-refactoring/rename.gif
  docs/java/images/java-refactoring/rename.mp4
  docs/java/images/java-refactoring/resolve-ambiguous-imports.mp4
  docs/java/java-debugging.md
  docs/java/java-editing.md
  docs/java/java-faq.md
  docs/java/java-linting.md
  docs/java/java-on-azure.md
  docs/java/java-project.md
  docs/java/java-refactoring.md
  docs/java/java-spring-boot.md
  docs/java/java-testing.md
  docs/java/java-tomcat-jetty.md
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#3561 Docker development environment topic updates
  docs/containers/choosing-dev-environment.md
Labels: containers

#3563 Update tutorial-django.md
  docs/python/tutorial-django.md
Labels: python

#3565 Typo / Incorrect suffix
  api/extension-guides/color-theme.md
Labels: extensibility

#3538 semantic tokenization doc
  api/extension-capabilities/theming.md
  api/extension-guides/color-theme.md
  api/language-extensions/images/semantic-highlighting/no-semantic-highlighting.png
  api/language-extensions/images/semantic-highlighting/with-semantic-highlighting.png
  api/language-extensions/images/syntax-highlighting/scope-inspector.png
  api/language-extensions/images/syntax-highlighting/scopes.png
  api/language-extensions/semantic-highlight-guide.md
  api/language-extensions/syntax-highlight-guide.md
  docs/getstarted/themes.md
Labels: extensibility

#3570 Typo fix for MicroProfile
  docs/java/extensions.md
  docs/java/java-tomcat-jetty.md
  docs/languages/java.md
Labels: java

#3571 Fix Jetty for Java link
  docs/java/java-tomcat-jetty.md
Labels: java

#3572 Java April updates
  docs/java/extensions.md
  docs/java/images/java-refactoring/rename-explorer.gif
  docs/java/java-faq.md
  docs/java/java-linting.md
  docs/java/java-project.md
  docs/java/java-refactoring.md
  docs/java/java-tomcat-jetty.md
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#3573 Add Open Liberty to 'Working with application servers in Visual Studio Code'
  docs/java/images/java-tomcat-jetty/open-liberty.mp4
  docs/java/java-tomcat-jetty.md
Labels: java

#3579 Remove mentions of 32-bit from the Linux setup instructions
  docs/setup/linux.md
Labels: Linux

#3525 Doc updates for new v1.1.0 image push experience
  docs/containers/app-service.md
  docs/containers/images/quickstarts/select-registry.png
  docs/containers/images/registries/azure-registry-context-menu.png
  docs/containers/overview.md
  docs/containers/quickstart-container-registries.md
  docs/containers/tutorial-django-push-to-registry.md
Labels: containers, don't merge

#3564 Python user rights
  docs/containers/debug-python.md
  docs/containers/images/quickstarts/python-user-rights-view-logs.png
  docs/containers/python-user-rights.md
  docs/containers/quickstart-python.md
Labels: containers, don't merge

#3576 fix typescript error on api.command
  api/extension-guides/command.md
Labels: extensibility

#3534 Docker Compose new topic
  docs/containers/app-service.md
  docs/containers/choosing-dev-environment.md
  docs/containers/debug-common.md
  docs/containers/docker-compose.md
  docs/containers/images/compose/docker-compose-attach.png
  docs/containers/images/compose/docker-compose-configuration.png
  docs/containers/images/compose/docker-compose-debugging.png
  docs/containers/images/compose/docker-compose-files.png
  docs/containers/images/compose/docker-compose-netcore-debugger-prompt.png
  docs/containers/images/compose/docker-node-launch.png
  docs/containers/images/compose/select-container-group.png
  docs/containers/quickstart-aspnet-core.md
  docs/containers/quickstart-container-registries.md
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
  docs/containers/reference.md
Labels: containers

#3592 Docker Compose article - shorten title further
  docs/containers/docker-compose.md
Labels: containers

#3593 Docker Compose title change
  docs/containers/docker-compose.md
Labels: containers

#3589 Fix property name in config example
  docs/cpp/customize-default-settings-cpp.md
Labels: C++

#3600 Docker 19.03.8 Windows GUI
  docs/remote/containers.md
Labels: remote

#3614 Fix a grammar mistake
  docs/java/java-faq.md
Labels: java

#3613 Docker Compose article work
  docs/containers/docker-compose.md
  docs/containers/images/compose/docker-compose-open-in-browser.png
  docs/containers/images/compose/docker-compose-python-debug.png
  docs/containers/images/compose/docker-compose-python-remote-attach.png
Labels: containers

#3616 Fixing links in Java documents
  docs/java/java-editing.md
  docs/java/java-tutorial.md
Labels: java

#3618 Fix two semantic highlighting guide links
  api/language-extensions/syntax-highlight-guide.md
Labels: extensibility

#3625 Use Docker context for remote machines
  docs/containers/ssh.md
Labels: containers

#3608 Update tutorial for new VS Code Python extension
  docs/python/tutorial-django.md
Labels: python

#3630 Semantic Highlighting Support for Java
  docs/java/images/java-editing/semantic-highlighting-switch.png
  docs/java/images/java-editing/semantic-highlighting.png
  docs/java/java-editing.md
  docs/languages/java.md
Labels: java
