Repository microsoft/vscode-docs, pull requests merged in 2020-08, with the labels that each got.

#3915 refined for lightweight mode
  docs/java/images/java-project/lightweight-icon.PNG
  docs/java/images/java-project/processing-icon.png
  docs/java/images/java-project/standard-icon.PNG
  docs/java/images/java-project/switch-to-standard.gif
  docs/java/java-project.md
  docs/languages/java.md
Labels: java

#3922 Update ssh-tutorial.md
  docs/remote/ssh-tutorial.md
Labels: remote

#3926 Nested virtualization not needed for Linux VM container development
  docs/containers/choosing-dev-environment.md
Labels: containers

#3942 Update launch-json-reference.md
  docs/cpp/launch-json-reference.md
Labels: C++

#3944 Update ssh.md with more clarity on settings overrides
  docs/remote/ssh.md
Labels: remote

#3946 Update language server extension guide to latest version of the code
  api/language-extensions/language-server-extension-guide.md
Labels: extensibility

#3950 Added information about Gunicorn
  docs/containers/quickstart-python.md
Labels: containers

#3954 Addressing GH issues
  docs/python/editing.md
  docs/python/environments.md
  docs/python/testing.md
Labels: python

#3961 more easy to change mode，and add `z` to undo
  docs/python/jupyter-support.md
Labels: python

#3962 undo a cell deleted
  docs/python/jupyter-support.md
Labels: python

#3941 Mention new VSCE --githubBranch flag
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#3970 Update Remote - Containers command name to "Clone Repository in Container Volume"
  docs/remote/containers-advanced.md
  docs/remote/containers.md
  docs/remote/create-dev-container.md
Labels: remote
