Repository microsoft/vscode-docs, pull requests merged in 2020-05, with the labels that each got.

#3648 One more tip for Docker SSH connectivity
  docs/containers/ssh.md
Labels: containers

#3635 Updates to remote section for v1.45
  docs/remote/containers-advanced.md
  docs/remote/containers.md
  docs/remote/ssh.md
  docs/remote/troubleshooting.md
  docs/remote/wsl.md
Labels: remote

#3560 Python debugging topic update
  docs/python/debugging.md
  docs/python/images/debugging/add-configuration.png
  docs/python/images/debugging/added-configuration.png
  docs/python/images/debugging/configuration-json.png
  docs/python/images/debugging/debug-configurations.png
  docs/python/images/debugging/debug-icon.png
  docs/python/images/debugging/debug-run.png
  docs/python/images/debugging/debug-start-button.png
  docs/python/images/debugging/debug-start.png
  docs/python/images/debugging/debug-status-bar.png
  docs/python/images/debugging/debugGAE.gif
Labels: don't merge, python

#3652 Refresh Windows development env recommendation for Docker
  docs/containers/choosing-dev-environment.md
Labels: containers

#3653 New customize python
  docs/containers/reference.md
Labels: containers

#3658 supportsMultipleEditorsPerDocument should be true
  api/extension-guides/custom-editors.md
Labels: extensibility

#3663 Fix half-sentence and clarify difference with postCreateCommand
  docs/remote/containers.md
Labels: remote

#3636 Refine vscode-docs dev container to be a bit faster to startup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: remote

#3629 draft for new cross-compilation settings topic
  docs/cpp/c-cpp-properties-schema-reference.md
  docs/cpp/colorization-cpp.md
  docs/cpp/configure-intellisense-crosscompilation.md
  docs/cpp/cpp-ide.md
  docs/cpp/enable-logging-cpp.md
  docs/cpp/faq-cpp.md
  docs/cpp/images/intellisense/compiler-path.png
  docs/cpp/images/intellisense/include-path.png
  docs/cpp/images/intellisense/intellisense-mode.png
  docs/cpp/launch-json-reference.md
  docs/cpp/natvis.md
  docs/cpp/pipe-transport.md
Labels: C++, don't merge

#3662 Added CELA-approved note about MSVC license
  docs/cpp/config-msvc.md
Labels: C++

#3667 Fix typo in custom-editors
  api/extension-guides/custom-editors.md
Labels: extensibility

#3670 dark mode graphics + license note callout
  docs/cpp/config-msvc.md
  docs/cpp/images/intellisense/compiler-path.png
  docs/cpp/images/intellisense/include-path.png
  docs/cpp/images/intellisense/intellisense-mode.png
Labels: C++

#3669 Clarify how "current workspace" is set
  docs/remote/containers-advanced.md
Labels: remote

#3675 Fix grammar mistake
  docs/python/environments.md
Labels: python

#3679 Update config-mingw.md
  docs/cpp/config-mingw.md
Labels: C++

#3665 Docker Compose with multiple Compose files
  docs/containers/docker-compose.md
  docs/containers/images/compose/docker-compose-netcore-debugger-prompt.png
Labels: containers

#3664 Updated automated publishing steps
  api/working-with-extensions/continuous-integration.md
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#3686 Fix typo
  docs/remote/containers.md
Labels: remote

#3691 Make extra clear Remote-SSH is recommended for Docker development on local VM
  docs/containers/choosing-dev-environment.md
Labels: containers

#3703 Update Node.js and GabrielBB/xvfb-action versions
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#3690 streamline TOC
  docs/cpp/c-cpp-properties-schema-reference.md
  docs/cpp/colorization-cpp.md
  docs/cpp/cpp-debug.md
  docs/cpp/cpp-ide.md
  docs/cpp/customize-default-settings-cpp.md
  docs/cpp/enable-logging-cpp.md
  docs/cpp/faq-cpp.md
  docs/cpp/launch-json-reference.md
  docs/cpp/pipe-transport.md
Labels: C++

#3695 Python linter pep8 was renamed to pycodestyle
  docs/languages/python.md
  docs/python/linting.md
  docs/python/settings-reference.md
Labels: python

#3711 not clear on when initializeCommand runs
  docs/remote/containers.md
Labels: remote

#3723 Fix for language-server-extension-guide.md
  api/language-extensions/language-server-extension-guide.md
Labels: extensibility
