Repository microsoft/vscode-docs, pull requests merged in 2020-11, with the labels that each got.

#4090 Docker Explorer (not view)
  docs/containers/app-service.md
  docs/containers/overview.md
  docs/containers/quickstart-aspnet-core.md
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
Labels: containers

#4046 Improve black warning troubleshooting
  docs/python/editing.md
Labels: python

#4104 typo fix in tutorial-django.md
  docs/python/tutorial-django.md
Labels: python

#4106 Add info about SSH into WSL2 from an external machine
  docs/remote/troubleshooting.md
Labels: remote

#4100 Add devcontainer.json note about formatting of properties
  docs/remote/devcontainerjson-reference.md
Labels: remote

#4110 Delete api-event-bridge.png
  api/advanced-topics/images/remote-extensions/api-event-bridge.png
Labels: remote

#4116 Fix typo
  api/references/theme-color.md
Labels: extensibility

#4115 Update mocha code on "testing-extension"
  api/working-with-extensions/testing-extension.md
Labels: extensibility

#4122 fixed Java Web Apps with Visual Studio Code, Download and test the Sp…
  docs/java/java-webapp.md
Labels: java

#4138 Changed Python: to Jupyter: for new notebooks
  docs/python/data-science-tutorial.md
Labels: python

#4145 Fix typo in cmake-linux.md
  docs/cpp/cmake-linux.md
Labels: C++
