Repository microsoft/vscode-docs, pull requests merged in 2020-01, with the labels that each got.

#3329 Fixed typo
  docs/remote/containers.md
Labels: remote

#3324 Remove mentions of postinstall
  api/get-started/extension-anatomy.md
Labels: extensibility

#3344 Java Documents Update
  docs/java/images/java-debugging/data-breakpoint.png
  docs/java/images/java-debugging/run-debug-button.PNG
  docs/java/images/java-editing/call-hierarchy.png
  docs/java/images/java-project/java.build.status.mp4
  docs/java/images/java-testing/test-status.png
  docs/java/java-debugging.md
  docs/java/java-editing.md
  docs/java/java-project.md
  docs/java/java-testing.md
Labels: java

#3352 Add clarifying statements for `program` and `externalConsole`
  docs/cpp/launch-json-reference.md
Labels: C++

#3351 Fixes in section "Avoiding extension reinstalls on container rebuild"
  docs/remote/containers-advanced.md
Labels: remote

#3353 Correct jupyter-support-py.md reference to IPython
  docs/python/jupyter-support-py.md
Labels: python

#3350 Added clarification regarding the location of a new cpp file.
  docs/cpp/config-msvc.md
Labels: C++

#3367 docs: fix variable name in .env example
  docs/python/environments.md
Labels: python
