Repository microsoft/vscode-docs, pull requests merged in 2020-03, with the labels that each got.

#3438 Update tslint-eslint-migration.md
  api/advanced-topics/tslint-eslint-migration.md
Labels: extensibility

#3439 Refactor documentation related to container development and SSH connectivity
  docs/containers/choosing-dev-environment.md
  docs/containers/images/devenv/install-in-ssh.png
  docs/containers/ssh.md
Labels: containers

#3447 Docker command customization documentation
  docs/containers/reference.md
Labels: containers

#3448 Update color-theme.md
  api/extension-guides/color-theme.md
Labels: extensibility

#3450 Clarify how to turn image auto-labeling off
  docs/containers/reference.md
Labels: containers

#3437 Adding Python Container Documentation
  docs/containers/debug-common.md
  docs/containers/images/quickstarts/python-add-python.png
  docs/containers/images/quickstarts/python-debug-configuration.png
  docs/containers/images/quickstarts/python-django-image-in-acr.png
  docs/containers/images/quickstarts/python-django-registries.png
  docs/containers/images/quickstarts/python-web-launch.png
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
  docs/containers/tutorial-django-push-to-registry.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#3460 Update jupyter-support.md
  docs/python/jupyter-support.md
Labels: python

#3461 Small edits to grammar, syntax
  docs/containers/debug-python.md
  docs/containers/quickstart-python.md
  docs/containers/tutorial-django-push-to-registry.md
Labels: containers

#3467 added python into debugging list, changed orderings to node, python, .net
  docs/containers/debug-common.md
Labels: python

#3468 Update python-tutorial.md
  docs/python/python-tutorial.md
Labels: python

#3469 Updates to the remote section for v1.43
  docs/remote/containers.md
  docs/remote/images/containers/dotfiles.png
  docs/remote/images/ssh/ssh-use-local-server.png
  docs/remote/linux.md
  docs/remote/ssh.md
  docs/remote/troubleshooting.md
Labels: remote

#3478 Added debugging link to python quickstart
  docs/containers/quickstart-aspnet-core.md
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
Labels: containers

#3476 Twhitney updatemacos
  docs/cpp/config-clang-mac.md
  docs/cpp/images/clang-mac/build-and-debug-active-file.png
  docs/cpp/images/clang-mac/clang-task-in-terminal.png
  docs/cpp/images/clang-mac/default-build-task.png
  docs/cpp/images/clang-mac/helloworld-in-terminal.png
  docs/cpp/images/clang-mac/intellisense-configurations-mac-clang.png
  docs/cpp/images/msvc/file-explorer.png
  docs/cpp/images/msvc/new-file-button.png
Labels: C++, don't merge

#3493 Update ssh.md
  docs/containers/ssh.md
Labels: containers

#3495 Fix scope in example for `punctuation.paren.open`
  api/language-extensions/syntax-highlight-guide.md
Labels: extensibility

#3501 Added title to scroll button to change hover text
  release-notes/v1_43.md
Labels: doc-experience

#3502 Fixes for Node.js quickstart and debug
  docs/containers/debug-node.md
  docs/containers/quickstart-node.md
Labels: containers

#3471 Python data science tutorial
  docs/python/data-science-tutorial.md
  docs/python/environments.md
  docs/python/images/data-science-tutorial/anaconda-environment.png
  docs/python/images/data-science-tutorial/anaconda-terminal.png
  docs/python/images/data-science-tutorial/create-notebook.png
  docs/python/images/data-science-tutorial/file-create.png
  docs/python/images/data-science-tutorial/jupyter-cell-01.png
  docs/python/images/data-science-tutorial/jupyter-cell-02.png
  docs/python/images/data-science-tutorial/jupyter-cell-03.png
  docs/python/images/data-science-tutorial/jupyter-cell-04.png
  docs/python/images/data-science-tutorial/jupyter-cell-05.png
  docs/python/images/data-science-tutorial/jupyter-cell-06.png
  docs/python/images/data-science-tutorial/jupyter-cell-07.png
  docs/python/images/data-science-tutorial/jupyter-cell-08.png
  docs/python/images/data-science-tutorial/notebook-editor.png
  docs/python/images/data-science-tutorial/notebook-save.png
  docs/python/images/data-science-tutorial/python-extension-marketplace.png
  docs/python/images/data-science-tutorial/variable-explorer.png
  docs/python/jupyter-support-py.md
  docs/python/jupyter-support.md
  docs/python/python-on-azure.md
  docs/python/settings-reference.md
  docs/python/testing.md
  docs/python/tutorial-create-containers.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: don't merge, python

#3504 Add a reference to custom task docs
  docs/containers/reference.md
Labels: containers

#3505 Fix incorrect indentation in an example
  docs/remote/containers.md
Labels: remote

#3506 Update tslint-eslint-migration.md
  api/advanced-topics/tslint-eslint-migration.md
Labels: extensibility

#3513 Add required information to ASP.NET Core container debugging doc
  docs/containers/quickstart-aspnet-core.md
Labels: containers

#3509 change #%% to # %%
  docs/python/jupyter-support-py.md
Labels: python

#3516 Update volume target path
  docs/remote/containers-advanced.md
Labels: remote

#3508 Embedded LSP doc
  api/language-extensions/embedded-languages.md
  api/language-extensions/images/embedded-languages/embedded-lsp-sample.gif
Labels: extensibility
