Repository microsoft/vscode-docs, pull requests merged in 2020-07, with the labels that each got.

#3830 Blog post: Remote containers in WSL 2
  blogs/2020/07/01/1-docker-desktop-wsl-integration.png
  blogs/2020/07/01/10-uname-node.png
  blogs/2020/07/01/11-localhost-hello-world.png
  blogs/2020/07/01/2-ubuntu-launch.png
  blogs/2020/07/01/3-wsl-extension-recommended.png
  blogs/2020/07/01/4-reload-vscode.png
  blogs/2020/07/01/5-wsl-left-indicator.png
  blogs/2020/07/01/6-remote-explorer-wsl-targets.png
  blogs/2020/07/01/7-reopen-container.png
  blogs/2020/07/01/8-node-14.png
  blogs/2020/07/01/9-vscode-starting-with-container.png
  blogs/2020/07/01/containers-wsl.md
Labels: remote

#3837 Update Python documentation for connecting to remote Jupyter servers
  docs/python/images/jupyter/connect-to-existing.png
  docs/python/jupyter-support.md
Labels: python

#3840 Remote updates for 1.47
  docs/remote/codespaces.md
  docs/remote/containers.md
  docs/remote/images/containers/repo-container-folder-setting.png
  docs/remote/images/ssh/ssh-listen-on-socket.png
  docs/remote/ssh.md
  docs/remote/troubleshooting.md
  docs/remote/wsl.md
Labels: remote

#3770 clarify how to disable pytest-cov when debugging
  docs/python/testing.md
Labels: python

#3790 Remove python.jediEnabled
  docs/python/settings-reference.md
Labels: python

#3845 Docker Desktop not supported on VMs
  docs/containers/choosing-dev-environment.md
Labels: containers

#3853 Making Debug requirements clearer
  docs/containers/debug-common.md
Labels: containers

#3844 [cpp] Include extra info for Linux to Attach
  docs/cpp/cpp-debug.md
Labels: C++

#3857 Update Pipeline publishing steps to explicitly map secret variable
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#3807 Notebook docs
  api/extension-guides/images/notebook/architecture-overview.png
  api/extension-guides/images/notebook/dynamic-renderer-issues.gif
  api/extension-guides/images/notebook/dynamic-renderer.gif
  api/extension-guides/images/notebook/dynamic-renderer.png
  api/extension-guides/images/notebook/error-output.png
  api/extension-guides/images/notebook/ipynb-simple-provider.png
  api/extension-guides/images/notebook/kernel.png
  api/extension-guides/images/notebook/rich-output.gif
  api/extension-guides/images/notebook/static-renderer-sample.png
  api/extension-guides/images/notebook/static-renderer.png
  api/extension-guides/images/notebook/text-output.png
  api/extension-guides/notebook.md
  api/toc.json
Labels: extensibility

#3858 Updates to flow of containers tutorial
  docs/remote/containers-tutorial.md
  docs/remote/images/containers-tutorial/version-check-updated.png
Labels: remote

#3862 added clarity to location of the inspectMode property
  docs/containers/quickstart-node.md
Labels: containers

#3819 Add Kubernetes local process doc
  docs/containers/images/local-process-kubernetes-vs-code/choose-launch.png
  docs/containers/images/local-process-kubernetes-vs-code/choose-local-process.png
  docs/containers/images/local-process-kubernetes-vs-code/choose-port.png
  docs/containers/images/local-process-kubernetes-vs-code/choose-service.png
  docs/containers/images/local-process-kubernetes-vs-code/development-computer-connected.png
  docs/containers/images/local-process-kubernetes-vs-code/output-diagnostics.png
  docs/containers/images/local-process-kubernetes-vs-code/output.png
  docs/containers/images/local-process-kubernetes-vs-code/select-namespace.png
  docs/containers/local-process-kubernetes.md
Labels: containers

#3860 Jupyter support topic update
  docs/python/images/jupyter/code-cells-01.png
  docs/python/images/jupyter/code-cells-02.png
  docs/python/images/jupyter/connect-to-existing.png
  docs/python/images/jupyter/enter-url-auth-token.png
  docs/python/images/jupyter/interactive-window-intellisense.gif
  docs/python/images/jupyter/jupyter-data-viewer.png
  docs/python/images/jupyter/jupyter-notebook.png
  docs/python/images/jupyter/jupyter-prompt.png
  docs/python/images/jupyter/jupyter-running-remotely.png
  docs/python/images/jupyter/jupyter-variable-explorer.png
  docs/python/images/jupyter/live-share-and-interactive.gif
  docs/python/images/jupyter/native-code-cells-01.png
  docs/python/images/jupyter/native-code-cells-02.png
  docs/python/images/jupyter/native-code-cells-02a.png
  docs/python/images/jupyter/native-code-cells-03.png
  docs/python/images/jupyter/native-code-cells-04.png
  docs/python/images/jupyter/native-code-cells-05.png
  docs/python/images/jupyter/native-code-cells-06.png
  docs/python/images/jupyter/native-code-cells-07.png
  docs/python/images/jupyter/native-code-cells-08.png
  docs/python/images/jupyter/native-code-cells-09.png
  docs/python/images/jupyter/native-code-cells-10.png
  docs/python/images/jupyter/native-data-viewer.png
  docs/python/images/jupyter/native-intellisense.png
  docs/python/images/jupyter/native-line-number.png
  docs/python/images/jupyter/native-markdown-01.png
  docs/python/images/jupyter/native-markdown-02.png
  docs/python/images/jupyter/native-markdown-03.png
  docs/python/images/jupyter/native-plot-viewer-02.png
  docs/python/images/jupyter/native-plot-viewer.png
  docs/python/images/jupyter/native-toolbar-additional-commands.png
  docs/python/images/jupyter/native-toolbar-convert.png
  docs/python/images/jupyter/native-toolbar-save.png
  docs/python/images/jupyter/native-trust-status-bar.png
  docs/python/images/jupyter/native-trusted-prompt.png
  docs/python/images/jupyter/native-variable-explorer.png
  docs/python/images/jupyter/plot-viewer.gif
  docs/python/jupyter-support.md
Labels: python

#3870 Refactor containers.md into several topics
  api/advanced-topics/remote-extensions.md
  blogs/2020/07/01/containers-wsl.md
  docs/remote/attach-container.md
  docs/remote/containers-advanced.md
  docs/remote/containers-tutorial.md
  docs/remote/containers.md
  docs/remote/create-dev-container.md
  docs/remote/devcontainerjson-reference.md
  docs/remote/faq.md
  docs/remote/images/containers/containers-attach.png
  docs/remote/images/containers/k8s-attach.png
  docs/remote/images/containers/select-a-sample.png
  docs/remote/troubleshooting.md
Labels: remote

#3885 Fixed link
  docs/remote/containers-advanced.md
  docs/remote/troubleshooting.md
Labels: remote

#3884 Started fixing github 3735, but saw additional cleanup to do
  docs/cpp/config-mingw.md
  docs/cpp/images/mingw/build-output-in-terminal.png
  docs/cpp/images/mingw/helloworld-in-terminal.png
  docs/cpp/images/mingw/intellisense-configurations-mingw.png
Labels: C++

#3896 Removed incorrect line about lack of compose.debug.yml for python
  docs/containers/docker-compose.md
Labels: containers

#3876 semantic highlighting: add semanticTokensBuilder example
  api/language-extensions/semantic-highlight-guide.md
Labels: extensibility

#3875 Local Process Kubernetes: add routing steps
  docs/containers/images/local-process-kubernetes-vs-code/choose-launch.png
  docs/containers/images/local-process-kubernetes-vs-code/choose-port.png
  docs/containers/images/local-process-kubernetes-vs-code/choose-service.png
  docs/containers/images/local-process-kubernetes-vs-code/development-computer-connected.png
  docs/containers/images/local-process-kubernetes-vs-code/lpk-isolation-prompt.png
  docs/containers/images/local-process-kubernetes-vs-code/output-diagnostics.png
  docs/containers/images/local-process-kubernetes-vs-code/output.png
  docs/containers/images/local-process-kubernetes-vs-code/select-namespace.png
  docs/containers/local-process-kubernetes.md
Labels: containers

#3903 Improved feature awareness of Python Docs
  docs/containers/images/quickstarts/python-edit-dockerfile.png
  docs/containers/images/quickstarts/python-view-logs.png
  docs/containers/quickstart-python.md
Labels: containers

#3879 Education blog post
  blogs/2020/07/27/1-containers-abc.png
  blogs/2020/07/27/10-starting-container.png
  blogs/2020/07/27/11-sortpy-cropped.png
  blogs/2020/07/27/12-breakpoint-cropped.png
  blogs/2020/07/27/13-debug-cropped.png
  blogs/2020/07/27/14-helloworld-cropped.png
  blogs/2020/07/27/15-add-config.png
  blogs/2020/07/27/16-python-config.png
  blogs/2020/07/27/17-node-devcontainer.png
  blogs/2020/07/27/18-python-devcontainer.png
  blogs/2020/07/27/19-dockerfile-crop.png
  blogs/2020/07/27/2-code-ps-cropped.png
  blogs/2020/07/27/20-change-cycle.png
  blogs/2020/07/27/21-reopen-notif.png
  blogs/2020/07/27/22-reload-starting.png
  blogs/2020/07/27/23-in-container.png
  blogs/2020/07/27/24-run-code-cropped.png
  blogs/2020/07/27/25-create-repo.png
  blogs/2020/07/27/26-git-setup-cropped.png
  blogs/2020/07/27/27-git-push.png
  blogs/2020/07/27/28-github-browser.png
  blogs/2020/07/27/3-extension.png
  blogs/2020/07/27/4-remote-indicator.png
  blogs/2020/07/27/5-commands.png
  blogs/2020/07/27/6-open-repo-command.png
  blogs/2020/07/27/7-paste-repo-command.png
  blogs/2020/07/27/8-volume-command.png
  blogs/2020/07/27/containers-edu.md
Labels: remote

#3901 Docker extension: improve node quickstart
  docs/containers/images/quickstarts/node-add-node-dark.png
  docs/containers/images/quickstarts/node-debug-configuration-dark.png
  docs/containers/images/quickstarts/node-run-browser.png
  docs/containers/images/quickstarts/node-running-container-dark.png
  docs/containers/images/quickstarts/node-verify-image-dark.png
  docs/containers/images/quickstarts/node-view-logs-dark.png
  docs/containers/images/quickstarts/node-view-logs-menu-dark.png
  docs/containers/images/quickstarts/nodejs-intellisense-env.png
  docs/containers/images/quickstarts/nodejs-intellisense-env2.png
  docs/containers/quickstart-node.md
Labels: containers

#3908 Added link to intellisense doc
  docs/containers/overview.md
Labels: containers

#3910 Local Process with Kubernetes: yaml config
  docs/containers/local-process-kubernetes.md
Labels: containers
