Repository microsoft/vscode-docs, pull requests merged in 2020-06, with the labels that each got.

#3739 Fixing typo in Custom Editor documentation
  api/extension-guides/custom-editors.md
Labels: extensibility

#3740 Update tslint-eslint-migration.md
  api/advanced-topics/tslint-eslint-migration.md
Labels: extensibility

#3750 Update command.md
  api/extension-guides/command.md
Labels: extensibility

#3756 Spelling fix: Kuberntes => Kubernetes
  docs/remote/containers.md
Labels: remote

#3753 Update docs with 1.46 features for Remote Development
  docs/java/images/java-debugging/run-debug-button.PNG
  docs/remote/containers-advanced.md
  docs/remote/containers.md
  docs/remote/images/containers/containers-explorer.png
  docs/remote/images/containers/docker-path-setting.png
  docs/remote/images/containers/inherit-env.png
  docs/remote/images/containers/inspect-volume-context-menu.png
  docs/remote/images/containers/workspace-mount-setting.png
  docs/remote/linux.md
  docs/remote/troubleshooting.md
Labels: remote

#3771 Java: improve debug configuration and others
  docs/java/java-debugging.md
Labels: java

#3777 Update link to TS ESLint in 1.46 release notes
  release-notes/v1_46.md
Labels: extensibility

#3775 Additional guidance for container port assignment
  docs/containers/quickstart-aspnet-core.md
Labels: containers

#3769 CMake tutorial
  docs/cpp/cmake-linux.md
  docs/cpp/faq-cpp.md
  docs/cpp/images/cpp/cmake-build.png
  docs/cpp/images/cpp/cmake-choose-type.png
  docs/cpp/images/cpp/cmake-debug.png
  docs/cpp/images/cpp/cmake-extension.png
  docs/cpp/images/cpp/cmake-kit-statusbar.png
  docs/cpp/images/cpp/cmake-project-contents.png
  docs/cpp/images/cpp/cmake-quickstart-command-palette.png
  docs/cpp/images/cpp/cmake-select-variant.png
  docs/cpp/images/cpp/cmake-selectkit.png
  docs/cpp/images/cpp/cmake-variant-type.png
Labels: C++, don't merge

#3786 Added Hot Reload directions for Django and Flask
  docs/containers/debug-python.md
  docs/containers/python-user-rights.md
  docs/containers/reference.md
Labels: containers, python

#3785 Debugpy Revision
  docs/containers/debug-python.md
Labels: containers, python

#3788 Add documentation for specifying a different local port when setting up port forward
  docs/remote/images/ssh/ssh-tunnel-different-local-port.png
  docs/remote/ssh.md
Labels: remote

#3816 Revised Common debug page
  docs/containers/debug-common.md
Labels: containers

#3817 -y flag to apt-get install
  docs/remote/containers.md
Labels: remote

#3812 Change apt key install directory
  docs/setup/linux.md
Labels: Linux

#3814 Adjust location and wording of testing and publishing
  api/get-started/wrapping-up.md
  api/index.md
  api/toc.json
Labels: extensibility

#3823 Add context to contributes and deactivate
  api/get-started/extension-anatomy.md
  api/get-started/your-first-extension.md
Labels: extensibility
