Repository microsoft/vscode-docs, pull requests merged in 2021-12, with the labels that each got.

#4985 Update the java project document
  docs/java/images/java-project/add-maven-dependency.png
  docs/java/images/java-project/configure-classpath.png
  docs/java/images/java-project/context-menu.png
  docs/java/images/java-project/create-project.gif
  docs/java/images/java-project/create-project.mp4
  docs/java/images/java-project/enablesemantic.png
  docs/java/images/java-project/hierarchical.gif
  docs/java/images/java-project/hierarchical.mp4
  docs/java/images/java-project/inline-button.png
  docs/java/images/java-project/lib.mp4
  docs/java/images/java-project/lightweight-icon.PNG
  docs/java/images/java-project/manage-dependencies.gif
  docs/java/images/java-project/manage-referenced-libraries.png
  docs/java/images/java-project/multiple-source.gif
  docs/java/images/java-project/multiple-source.mp4
  docs/java/images/java-project/overflow-button.png
  docs/java/images/java-project/package-viewer.gif
  docs/java/images/java-project/package-viewer.mp4
  docs/java/images/java-project/processing-icon.png
  docs/java/images/java-project/projectmanager-addmavendep.PNG
  docs/java/images/java-project/projectmanager-createproject.png
  docs/java/images/java-project/projectmanager-overview.png
  docs/java/images/java-project/standalone.gif
  docs/java/images/java-project/standalone.mp4
  docs/java/images/java-project/standard-icon.PNG
  docs/java/images/java-project/syntaxonly.png
  docs/java/java-project.md
Labels: java

#4990 Java tutorial:update videos accordingly
  docs/java/images/java-tutorial/JavaHelloWorld.Project.mp4
  docs/java/images/java-tutorial/JavaHelloWorld.Standalone.mp4
  docs/java/images/java-tutorial/create-file.gif
  docs/java/images/java-tutorial/create-file.mp4
  docs/java/images/java-tutorial/detect-eng.png
  docs/java/images/java-tutorial/edit-code.gif
  docs/java/images/java-tutorial/getting-started.png
  docs/java/images/java-tutorial/invalid-jdk.png
  docs/java/images/java-tutorial/jdk-config-wizard-overview.png
  docs/java/images/java-tutorial/jdk-configuration.png
  docs/java/images/java-tutorial/jdk.acquisition.guide.gif
  docs/java/images/java-tutorial/run-debug.gif
  docs/java/java-tutorial.md
Labels: java

#4997 Update the java project jdk part
  docs/java/images/java-project/configure-project-runtime.png
  docs/java/images/java-project/download-jdk.png
  docs/java/images/java-project/jdk-configuration.png
  docs/java/images/java-project/projectmanager-javahomeconf.png
  docs/java/java-project.md
  docs/java/java-tutorial.md
Labels: java

#5009 Add TOC entry that will redirect to CMake docs on github
  docs/cpp/build-with-cmake.md
  docs/cpp/cmake-linux.md
  docs/cpp/configure-intellisense-crosscompilation.md
  docs/cpp/cpp-debug.md
  docs/cpp/cpp-ide.md
  docs/cpp/customize-default-settings-cpp.md
  docs/cpp/faq-cpp.md
Labels: C++

#5013 Remote features
  remote-release-notes/v1_63.md
Labels: remote

#5003 Java: update docs and videos
  docs/languages/images/java/beginner-tips.png
  docs/languages/images/java/extensions.png
  docs/languages/images/java/getting-started.png
  docs/languages/images/java/package-viewer.gif
  docs/languages/images/java/package-viewer.mp4
  docs/languages/images/java/resolve-main.gif
  docs/languages/images/java/resolve-main.mp4
  docs/languages/java.md
Labels: java

#5011 Update docs for Java Debugging page
  docs/java/images/java-debugging/context-menu.png
  docs/java/images/java-debugging/current-file.gif
  docs/java/images/java-debugging/current-file.mp4
  docs/java/images/java-debugging/cwd-env.gif
  docs/java/images/java-debugging/cwd-env.mp4
  docs/java/images/java-debugging/debug-hover.mp4
  docs/java/images/java-debugging/expression-evaluation.mp4
  docs/java/images/java-debugging/hcr.gif
  docs/java/images/java-debugging/hcr.mp4
  docs/java/images/java-debugging/java-codelens.gif
  docs/java/images/java-debugging/java-codelens.png
  docs/java/images/java-debugging/java-debug.mp4
  docs/java/images/java-debugging/launch-configuration.mp4
  docs/java/images/java-debugging/run-debug-button.png
  docs/java/images/java-debugging/run-menu.png
  docs/java/images/java-debugging/single-file-debugging.mp4
  docs/java/images/java-debugging/thread-context-menu.png
  docs/java/java-debugging.md
Labels: java

#5012 Update docs for Java refactoring page
  docs/java/java-refactoring.md
Labels: java

#4994 Java: update spring part
  docs/java/images/java-spring-boot/edit-starters.mp4
  docs/java/images/java-spring-boot/spring-code-edit.gif
  docs/java/images/java-spring-boot/spring-code-edit.mp4
  docs/java/images/java-spring-boot/spring-dashboard.gif
  docs/java/images/java-spring-boot/spring-initializr-add-starters.mp4
  docs/java/images/java-spring-boot/spring-initializr-edit.gif
  docs/java/images/java-spring-boot/spring-initializr-edit.mp4
  docs/java/images/java-spring-boot/spring-initializr.gif
  docs/java/images/java-spring-boot/spring-initializr.mp4
  docs/java/images/java-spring-boot/spring-live-info.mp4
  docs/java/java-spring-boot.md
Labels: java

#4996 Java: add gradle part
  docs/java/images/java-build/gradle-auto-completion.mp4
  docs/java/images/java-build/gradle-daemons.mp4
  docs/java/images/java-build/gradle-dependencies.png
  docs/java/images/java-build/gradle-dependency-completion.mp4
  docs/java/images/java-build/gradle-highlighting.png
  docs/java/images/java-build/gradle-outline.png
  docs/java/images/java-build/gradle-pinned-recent-tasks.mp4
  docs/java/images/java-build/gradle-problems.png
  docs/java/images/java-build/gradle-tasks.mp4
  docs/java/java-build.md
Labels: java

#5004 Update the java testing video
  docs/languages/images/java/testng.gif
  docs/languages/images/java/testng.mp4
Labels: java

#5005 Java: update formatting and linting section
  docs/java/images/java-linting/SonarLint.Activate-Deactivate.Rules.gif
  docs/java/images/java-linting/SonarLint.Bug.gif
  docs/java/images/java-linting/SonarLint.Rule.Description.gif
  docs/java/images/java-linting/checkstyle-batch.mp4
  docs/java/images/java-linting/checkstyle-configuration.mp4
  docs/java/images/java-linting/checkstyle-live-linting.mp4
  docs/java/images/java-linting/checkstyle.mp4
  docs/java/images/java-linting/formatting-editing.mp4
  docs/java/images/java-linting/formatting-preview.mp4
  docs/java/images/java-linting/formatting-undoredo.mp4
  docs/java/images/java-linting/formatting.mp4
  docs/java/images/java-linting/quick_fix.png
  docs/java/images/java-linting/set_config.png
  docs/java/images/java-linting/sonarlint-description.mp4
  docs/java/images/java-linting/sonarlint-rules.mp4
  docs/java/images/java-linting/sonarlint.mp4
  docs/java/java-linting.md
Labels: java

#5027 Fix spelling
  docs/python/settings-reference.md
Labels: python

#4992 Java: update recommended app server extensions
  docs/java/images/java-tomcat-jetty/server-connector.mp4
  docs/java/java-tomcat-jetty.md
Labels: java

#5026 Make corrections, rework sections for devcontainer.json reference
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5029 Update MSYS2 setup link
  docs/cpp/config-mingw.md
Labels: C++

#5035 Move content from separate Python configuration article to Tips and Tricks
  docs/containers/debug-python.md
  docs/containers/python-configure-containers.md
  docs/containers/quickstart-python.md
  docs/containers/troubleshooting.md
Labels: containers

#5036 Remove the section for the language server JDK
  docs/java/java-project.md
Labels: java

#5045 Refresh Spring boot page
  docs/java/java-spring-boot.md
Labels: java

#5044 update docs as platform-specific runtime is embedded in Java extension
  docs/java/java-testing.md
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#5048 Add python settings for bandit
  docs/python/settings-reference.md
Labels: python

#5062 Fixed typo
  docs/python/tutorial-django.md
Labels: python
