Repository microsoft/vscode-docs, pull requests merged in 2021-04, with the labels that each got.

#4450 Update extension guide with updates, corrections for GitHub Codespaces
  api/advanced-topics/remote-extensions.md
  docs/remote/containers.md
  docs/remote/devcontainerjson-reference.md
  docs/remote/troubleshooting.md
Labels: remote

#4455 Remove the file after installing it in the system.
  docs/setup/linux.md
Labels: Linux

#4459 Update create-dev-container.md
  docs/remote/create-dev-container.md
Labels: remote

#4453 Update remote troubleshooting
  docs/remote/troubleshooting.md
Labels: remote

#4460 Update python-tutorial.md
  docs/python/python-tutorial.md
  docs/python/testing.md
Labels: python

#4462 Add new ports properties to devcontainer.json reference
  docs/remote/devcontainerjson-reference.md
Labels: remote

#4464 Describe to use PPA priority
  docs/setup/linux.md
Labels: Linux

#4461 created doc for cpp intro videos
  docs/cpp/introvideos-cpp.md
Labels: C++

#4465 Change compilerPath example to full path
  docs/cpp/config-mingw.md
Labels: C++

#4472 Bridge to Kubernetes: Env vars section and other changes
  docs/containers/bridge-to-kubernetes.md
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-launch.png
Labels: containers

#4476 Docker Tools: Add SSL support section
  docs/containers/debug-netcore.md
Labels: containers

#4485 add bundling docs for esbuild
  api/working-with-extensions/bundling-extension.md
Labels: extensibility

#4479 Bridge image update
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-launch.png
Labels: containers

#4491 add deploy to azure links for Java framework
  docs/languages/java.md
Labels: java

#4492 Update launch-json-reference.md
  docs/cpp/launch-json-reference.md
Labels: C++

#4502 fix python autoComplete configuration setting key
  docs/python/editing.md
Labels: python

#4501 updated the method to create Maven project
  docs/java/images/java-build/create-maven-project.PNG
  docs/java/java-build.md
Labels: java

#4499 Update extension-manifest.md
  api/references/extension-manifest.md
Labels: extensibility

#4509 add link for managed identity configuration
  docs/containers/bridge-to-kubernetes.md
Labels: containers
