Repository microsoft/vscode-docs, pull requests merged in 2021-09, with the labels that each got.

#4798 Update project management page to point to extension pack
  docs/java/extensions.md
  docs/java/java-debugging.md
  docs/java/java-faq.md
  docs/java/java-project.md
  docs/java/java-spring-boot.md
  docs/java/java-spring-cloud.md
  docs/java/java-tutorial.md
  docs/java/java-webapp.md
Labels: java

#4742 Update docs for 2021.9
  docs/languages/python.md
  docs/python/debugging.md
  docs/python/images/debugging/debug-button-editor.png
  docs/python/images/debugging/debug-configurations.png
  docs/python/images/debugging/debug-run.png
  docs/python/images/debugging/debug-start-button.png
  docs/python/images/testing/debug-test-in-explorer.png
  docs/python/images/testing/discovery-failed-status-bar.png
  docs/python/images/testing/discovery-succeeded-status-bar.png
  docs/python/images/testing/run-tests-gutter.png
  docs/python/images/testing/test-discovery-error.png
  docs/python/images/testing/test-explorer-no-tests.png
  docs/python/images/testing/test-explorer-run-all-tests.png
  docs/python/images/testing/test-explorer-run-scoped-tests.png
  docs/python/images/testing/test-explorer.png
  docs/python/images/testing/test-failure-peek-view.png
  docs/python/images/testing/test-results.png
  docs/python/images/tutorial/debug-python-file-in-terminal-button.png
  docs/python/images/tutorial/plot-output.png
  docs/python/images/tutorial/run-python-file-in-terminal-button.png
  docs/python/images/tutorial/run-python-file-in-terminal.png
  docs/python/python-tutorial.md
  docs/python/settings-reference.md
  docs/python/testing.md
Labels: python

#4803 Use expansion pack instead of individual extensions in VS Code Java docs
  docs/java/java-build.md
  docs/java/java-testing.md
Labels: java

#4827 Update host requirement
  docs/remote/ssh.md
Labels: remote

#4840 Update references to the Create New Terminal command
  docs/languages/python.md
  docs/python/debugging.md
  docs/python/environments.md
  docs/python/python-tutorial.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#4842 Fixes #4828
  api/references/activation-events.md
Labels: extensibility

#4841 update the return types
  api/references/commands.md
Labels: extensibility

#4846 C++ docs: Add redundancy to avoid pitfalls
  docs/cpp/config-mingw.md
  docs/cpp/config-msvc.md
Labels: C++
