Repository microsoft/vscode-docs, pull requests merged in 2021-01, with the labels that each got.

#4193 Standardize function parameter in Webview.md
  api/extension-guides/webview.md
Labels: extensibility

#4208 Fix example configuration for docker-compose task
  docs/containers/reference.md
Labels: containers

#4219 Azure Dev Spaces --> Bridge to Kubernetes
  docs/azure/kubernetes.md
Labels: containers

#4176 Gunicorn edit
  docs/containers/debug-python.md
  docs/containers/docker-compose.md
  docs/containers/quickstart-python.md
Labels: containers

#4226 Update advanced container doc
  docs/remote/containers-advanced.md
Labels: remote

#4229 Java testing and Spring Boot docs: updated required JDK version from …
  docs/java/java-spring-boot.md
  docs/java/java-testing.md
Labels: java

#4231 Error in devcontainer.env file location
  docs/remote/containers-advanced.md
Labels: remote

#4237 add docs for java Azure spring cloud extension
  docs/java/images/java-spring-cloud/access-public-endpoint.png
  docs/java/images/java-spring-cloud/create-app.png
  docs/java/images/java-spring-cloud/create-service.png
  docs/java/images/java-spring-cloud/deploy-app.png
  docs/java/images/java-spring-cloud/log-output.png
  docs/java/images/java-spring-cloud/scale.png
  docs/java/images/java-spring-cloud/start-log-streaming.png
  docs/java/java-on-azure.md
  docs/java/java-spring-cloud.md
  docs/java/java-webapp.md
Labels: java

#4245 Add cStandard `c17` and cppStandard `c++20`.
  docs/cpp/customize-default-settings-cpp.md
Labels: C++

#4257 Add extension guidelines to api docs
  api/references/extension-guidelines.md
  api/references/images/guidelines/architecture-groups.png
  api/references/images/guidelines/architecture-sections.png
  api/references/images/guidelines/command-palette.png
  api/references/images/guidelines/context-menu.png
  api/references/images/guidelines/editor-actions.png
  api/references/images/guidelines/notification-error.png
  api/references/images/guidelines/notification-info.png
  api/references/images/guidelines/notification-progress.png
  api/references/images/guidelines/notification-warning.png
  api/references/images/guidelines/quickpick.png
  api/references/images/guidelines/scm-progress.png
  api/references/images/guidelines/settings.png
  api/references/images/guidelines/status-bar-error.png
  api/references/images/guidelines/status-bar-progress.png
  api/references/images/guidelines/statusbar-item.png
  api/references/images/guidelines/view-container.png
  api/references/images/guidelines/views-example.png
  api/references/images/guidelines/views-locations.png
  api/references/images/guidelines/webview-browser.png
  api/references/images/guidelines/webview-onboarding.png
  api/references/images/guidelines/webview-pullrequest.png
  api/references/images/guidelines/webview-view.png
  api/references/images/guidelines/welcome-views.png
  api/toc.json
Labels: extensibility

#4262 Fix a typo in semantic-highlight-guide.md
  api/language-extensions/semantic-highlight-guide.md
  docs/getstarted/themes.md
Labels: extensibility
