Repository microsoft/vscode-docs, pull requests merged in 2021-02, with the labels that each got.

#4277 fix .ssh/ path
  docs/remote/containers.md
Labels: remote

#4285 Update Django Tutorial to latest versions
  docs/python/images/django-tutorial/debug-panel-initial-view.png
  docs/python/images/django-tutorial/debug-select-configuration.png
  docs/python/images/django-tutorial/django-empty-project-success.png
  docs/python/images/shared/environment-in-status-bar.png
  docs/python/images/shared/select-virtual-environment.png
  docs/python/tutorial-django.md
Labels: python

#4286 Updated flask tutorial to newer versions
  docs/python/tutorial-flask.md
Labels: python

#4273 added troubleshooting for no input terminal
  docs/cpp/config-clang-mac.md
Labels: C++

#4284 Update python-tutorial.md with Windows 3.9 link
  docs/python/python-tutorial.md
Labels: python

#4311 update typescript-tutorial.md to avoid confusion on change build output
  docs/typescript/typescript-tutorial.md
Labels: TypeScript

#4321 Add detail to Notebook API docs about output renderers
  api/extension-guides/notebook.md
Labels: extensibility

#4279 Update to add a precautionary step
  docs/remote/containers-tutorial.md
Labels: remote

#4314 Update debugging.md
  docs/python/debugging.md
Labels: python

#4301 Update debugging.md
  docs/python/debugging.md
Labels: python

#4328 Update suggested images for AZP configuration
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#4334 Update Linux (markdown)
  docs/setup/linux.md
Labels: Linux

#4303 Add article about Kubernetes service environment variables for remote and normal user scenarios
  docs/containers/bridge-to-kubernetes.md
  docs/containers/kubernetes-env-vars.md
Labels: containers

#4341 update sitemap
  build/sitemap.xml
Labels: containers

#4347 Update jupyter-support.md
  docs/python/jupyter-support-py.md
  docs/python/jupyter-support.md
Labels: python
