Repository microsoft/vscode-docs, pull requests merged in 2021-07, with the labels that each got.

#4651 Fixed productIconThemes contribution point typo.
  api/extension-guides/product-icon-theme.md
Labels: extensibility

#4654 Mention the other supported package managers
  docs/python/environments.md
Labels: python

#4662 docs(containers.md): proofread typo `daemon` from `deamon`
  docs/remote/containers.md
Labels: remote

#4655 fix: custom-editors docs typo
  api/extension-guides/custom-editors.md
Labels: extensibility

#4668 fix: remove unavailable extension
  docs/java/extensions.md
Labels: java

#4672 fix invalid syntax in contribution-points.md
  api/references/contribution-points.md
Labels: extensibility

#4404 Docker extension docs troubleshooting page
  docs/containers/troubleshooting.md
Labels: containers

#4681 Update reference name to NotebookSerializer
  api/extension-guides/notebook.md
Labels: extensibility

#4645 Update tutorial to use up-to-date version of mingw-w64 via MSYS2
  docs/cpp/config-mingw.md
  docs/cpp/images/mingw/mingw-build-output.png
  docs/cpp/images/mingw/mingw-debug-output.png
  docs/cpp/images/mingw/mingw-dir-output.png
  docs/languages/cpp.md
  docs/languages/images/cpp/gpp-build-task-msys64.png
Labels: C++

#4684 Add links to troubleshooting
  docs/containers/debug-common.md
  docs/containers/docker-compose.md
  docs/containers/overview.md
Labels: containers

#4685 Tips and Tricks doc update
  docs/containers/troubleshooting.md
Labels: containers

#4656 Clarify extensionKind
  api/advanced-topics/remote-extensions.md
Labels: extensibility, remote

#4690 Fix broken url related to python isort
  docs/python/editing.md
Labels: python

#4674 Updates to python.pythonPath setting
  docs/editor/tasks.md
  docs/python/debugging.md
  docs/python/environments.md
  docs/python/images/debugging/debug-troubleshooting-wrong-path.png
  docs/python/images/environments/enter-interpreter-path.png
  docs/python/images/environments/enter-or-find-interpreter.png
  docs/python/python-tutorial.md
  docs/python/settings-reference.md
Labels: python

#4692 native-notebooks-update
  docs/datascience/images/jupyter/cell-toggle-line-num.png
  docs/datascience/images/jupyter/code-move.png
  docs/datascience/images/jupyter/data-viewer.png
  docs/datascience/images/jupyter/intellisense.png
  docs/datascience/images/jupyter/multiselect.png
  docs/datascience/images/jupyter/native-add-cells.png
  docs/datascience/images/jupyter/native-code-cells-01.png
  docs/datascience/images/jupyter/native-code-cells-02.png
  docs/datascience/images/jupyter/native-code-cells-02a.png
  docs/datascience/images/jupyter/native-code-cells-03.png
  docs/datascience/images/jupyter/native-code-cells-04.png
  docs/datascience/images/jupyter/native-code-cells-05.png
  docs/datascience/images/jupyter/native-code-cells-06.png
  docs/datascience/images/jupyter/native-code-cells-07.png
  docs/datascience/images/jupyter/native-code-cells-08.png
  docs/datascience/images/jupyter/native-code-cells-09.png
  docs/datascience/images/jupyter/native-code-cells-10.png
  docs/datascience/images/jupyter/native-code-cells-11.png
  docs/datascience/images/jupyter/native-code-cells-11a.png
  docs/datascience/images/jupyter/native-code-delete.png
  docs/datascience/images/jupyter/native-code-run.png
  docs/datascience/images/jupyter/native-code-runs.png
  docs/datascience/images/jupyter/native-code-unselected-02.png
  docs/datascience/images/jupyter/native-code-unselected.png
  docs/datascience/images/jupyter/native-kernel-picker.png
  docs/datascience/images/jupyter/native-language-picker-01.png
  docs/datascience/images/jupyter/native-markdown-htr.png
  docs/datascience/images/jupyter/native-markdown-not-rendered.png
  docs/datascience/images/jupyter/native-markdown-rendered.png
  docs/datascience/images/jupyter/native-toolbar-convert.png
  docs/datascience/images/jupyter/native-toolbar-export.png
  docs/datascience/images/jupyter/native-toolbar-save.png
  docs/datascience/images/jupyter/native-variable-explorer.png
  docs/datascience/images/jupyter/notebook-diffing.png
  docs/datascience/images/jupyter/notebook-toggle-line-num.png
  docs/datascience/images/jupyter/notebook-toolbar.png
  docs/datascience/images/jupyter/save-output.png
  docs/datascience/images/jupyter/specify-remote.png
  docs/datascience/images/jupyter/table-of-contents.png
  docs/datascience/images/jupyter/variable-explorer-01.png
  docs/datascience/images/jupyter/variable-explorer-02.png
  docs/datascience/jupyter-notebooks.md
Labels: python

#4689 Added docker-build and full examples
  docs/containers/debug-python.md
Labels: containers

#4698 Initial devcontainer CLI docs
  docs/remote/devcontainer-cli.md
  docs/remote/devcontainerjson-reference.md
  docs/remote/faq.md
  docs/remote/images/devcontainer-cli/install.png
  docs/remote/images/devcontainer-cli/reopen-in-container.png
  docs/remote/troubleshooting.md
Labels: remote

#4714 Fix a minor typo
  api/working-with-extensions/publishing-extension.md
Labels: extensibility
