Repository microsoft/vscode-docs, pull requests merged in 2021-06, with the labels that each got.

#4560 Parallel services how to for Bridge to Kubernetes
  docs/containers/bridge-to-kubernetes.md
  docs/containers/parallel-services.md
Labels: containers

#4582 Add missing f-string prefix
  docs/python/tutorial-django.md
Labels: python

#4570 Linking to recipe for debugging Lambda functions locally
  docs/nodejs/debugging-recipes.md
Labels: debug

#4595 Small spelling fixes
  docs/python/editing.md
Labels: python

#4597 Fix typos and grammar in Python/Debugging.md
  docs/python/debugging.md
Labels: python

#4590 Add new dev container properties
  docs/remote/devcontainerjson-reference.md
Labels: containers

#4601 updated export to JAR gif
  docs/java/images/java-project/exportjar.gif
  docs/java/java-project.md
Labels: java

#4585 Document Remote-Containers adoption of workspace trust
  docs/remote/containers.md
  docs/remote/images/containers/attach-containers-trust.png
  docs/remote/images/containers/clone-containers-trust.png
Labels: containers

#4602 Fix default pytest path
  docs/python/settings-reference.md
Labels: python

#4608 Add SymbolOptions to Launch.json docs
  docs/cpp/launch-json-reference.md
Labels: C++

#4621 Small updates to debugging and Flask tutorial
  docs/python/debugging.md
  docs/python/tutorial-flask.md
Labels: python

#4622 Update config-clang-mac.md
  docs/cpp/config-clang-mac.md
Labels: C++

#4618 Correct quickstart-python.md prompt order
  docs/containers/quickstart-python.md
Labels: containers

#4620 Reorganized article for improved flow and clarity
  docs/python/environments.md
Labels: python

#4627 docs: update packages for gitlab ci script
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#4603 Explain how to escape icon syntax
  api/references/icons-in-labels.md
Labels: extensibility

#4635 fix: Make sure `setContext` docs match behavior
  api/extension-guides/command.md
  api/references/when-clause-contexts.md
Labels: extensibility

#4634 Add additional extensionKind info
  docs/remote/faq.md
Labels: remote

#4637 Update Notebook API docs
  api/extension-guides/images/notebook/architecture-overview.png
  api/extension-guides/images/notebook/kernel-communication.png
  api/extension-guides/images/notebook/kernel.png
  api/extension-guides/images/notebook/rust-output.png
  api/extension-guides/images/notebook/static-renderer.png
  api/extension-guides/notebook.md
Labels: extensibility

#4642 Remote-Containers Doc: Mention WSL2 specifics in GPG section
  docs/remote/containers.md
Labels: containers
