Repository microsoft/vscode-docs, pull requests merged in 2021-05, with the labels that each got.

#4515 Update extension-anatomy.md
  api/get-started/extension-anatomy.md
Labels: extensibility

#4538 Fix indent of package.json example
  api/extension-guides/tree-view.md
Labels: extensibility

#4539 Remove stray character from Django tutorial
  docs/python/tutorial-django.md
Labels: python

#4537 Language server updates
  docs/python/editing.md
  docs/python/settings-reference.md
Labels: don't merge, python

#4521 Add documentation on how to share and run extensions using the Proposed API
  api/advanced-topics/images/proposed-api/install-from-vsix.gif
  api/advanced-topics/using-proposed-api.md
Labels: extensibility

#4547 docs: add gitlab ci example
  api/working-with-extensions/continuous-integration.md
Labels: extensibility

#4552 Add new C++ debugging options to launch.json
  docs/cpp/launch-json-reference.md
Labels: C++

#4553 local tunnel debugging in Bridge tutorial
  docs/containers/bridge-to-kubernetes.md
  docs/containers/images/bridge-to-kubernetes-vs-code/debug-local-tunnel-context-menu.png
  docs/containers/images/bridge-to-kubernetes-vs-code/debug-local-tunnel.png
Labels: containers

#4562 Updated content based on feedback from Python team
  docs/python/images/pytorch-support/debugger-data-viewer.png
  docs/python/images/pytorch-support/variable-explorer-data-viewer.png
  docs/python/pytorch-support.md
Labels: python

#4569 Updates for GH issues
  docs/python/debugging.md
  docs/python/tutorial-django.md
Labels: python

#4571 update broken link
  docs/java/java-webapp.md
Labels: java

#4489 Update clone in volume information
  docs/remote/containers.md
  docs/remote/images/containers/dev-volumes.png
  docs/remote/images/containers/docker-explore-dev-container.png
Labels: remote

#4441 WIP: Document known browser limitations and workarounds
  docs/remote/codespaces.md
  docs/remote/images/codespaces/PWA-edge-install.png
  docs/remote/troubleshooting.md
Labels: remote
