Repository microsoft/vscode-docs, pull requests merged in 2021-03, with the labels that each got.

#4371 Fixed spelling mistake in Reset Intellisense Database
  docs/cpp/faq-cpp.md
Labels: C++

#4368 Fix typo in test script sample
  api/working-with-extensions/testing-extension.md
Labels: extensibility

#4375 Rename minikube.md and associated files
  build/sitemap.xml
  docs/containers/bridge-to-kubernetes-aks.md
  docs/containers/bridge-to-kubernetes-sample.md
  docs/containers/bridge-to-kubernetes.md
  docs/containers/images/bridge-to-kubernetes-sample/bridge_configure.png
  docs/containers/images/bridge-to-kubernetes-sample/debug_profile.png
  docs/containers/images/bridge-to-kubernetes-sample/debugging.png
  docs/containers/images/bridge-to-kubernetes-sample/enter_port.png
  docs/containers/images/bridge-to-kubernetes-sample/isolation.png
  docs/containers/images/bridge-to-kubernetes-sample/launch_task.png
  docs/containers/images/bridge-to-kubernetes-sample/select-namespace.png
  docs/containers/images/bridge-to-kubernetes-sample/select_service.png
  docs/containers/images/bridge-to-kubernetes-sample/stats.png
Labels: containers

#4383 small update
  docs/java/java-project.md
Labels: java

#4389 fix #4384 add missing SCM menu contribution, and clarify SCM doc
  api/extension-guides/scm-provider.md
  api/references/contribution-points.md
Labels: extensibility

#4394 postStartCommand now supported by codespaces
  docs/remote/devcontainerjson-reference.md
Labels: remote

#4391 Explicit UID Instructions
  docs/containers/python-configure-containers.md
Labels: containers

#4390 Add docker-in-docker to docs
  docs/remote/containers-advanced.md
Labels: remote

#4398 Fix typo in linux.md
  docs/remote/linux.md
Labels: remote

#4399 Fix typo
  api/extension-guides/notebook.md
Labels: extensibility

#4397 Update extension-manifest.md
  api/references/extension-manifest.md
Labels: extensibility

#4400 Update testing.md
  docs/python/testing.md
Labels: python

#4402 Bridge to Kubernetes tutorial: Clarify port info
  docs/containers/bridge-to-kubernetes-sample.md
Labels: containers

#4403 Bridge to Kubernetes: mention admin requirement for minikube start
  docs/containers/bridge-to-kubernetes-sample.md
Labels: containers

#4413 Replace deprecated `assert.equal`
  api/working-with-extensions/testing-extension.md
Labels: extensibility

#4428 Wrap `host` and `port` in `connect` for remote
  docs/python/debugging.md
Labels: python

#4435 add missing Education as valid value
  api/references/extension-manifest.md
Labels: extensibility

#4446 Update working-with-javascript.md
  docs/nodejs/working-with-javascript.md
Labels: TypeScript, javascript

#4429 Update jupyter-support.md
  docs/python/jupyter-support.md
Labels: python
