Repository microsoft/vscode-docs, pull requests merged in 2021-11, with the labels that each got.

#4923 Normalizing .venv on Flask and Django Tutorials
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python, doc-enhancement

#4930 fix: broken link to virtual-workspaces page
  api/extension-guides/virtual-documents.md
Labels: extensibility

#4924 Small update on your-first-extension.md
  api/get-started/your-first-extension.md
Labels: extensibility

#4935 Update natvis.md
  docs/cpp/natvis.md
Labels: C++

#4931 Add docs for verified publisher feature
  api/working-with-extensions/images/publishing-extension/verified-publishers.png
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#4928 Update Jupyter debug docs
  docs/datascience/images/jupyter/debug-cell.png
  docs/datascience/images/jupyter/run-by-line.png
  docs/datascience/jupyter-notebooks.md
Labels: data science

#4920 Add tip from remote-release on non-manual build
  docs/remote/devcontainer-cli.md
Labels: remote

#4939 Update lifecycle scripts
  docs/remote/devcontainerjson-reference.md
Labels: remote

#4934 updated definition for Python projectType
  docs/containers/debug-common.md
Labels: python, containers

#4952 Update link to CMake Tools documentation
  docs/cpp/cmake-linux.md
Labels: C++

#4950 Add container persistence tip
  docs/remote/troubleshooting.md
Labels: remote

#4953 Remove all remaining references for python.pythonPath setting
  docs/languages/python.md
  docs/python/editing.md
  docs/python/linting.md
Labels: python

#4958 Update Gradle section
  docs/java/java-build.md
Labels: java

#4945 Update web-extensions to simplify setup for chromium browsers
  api/extension-guides/web-extensions.md
Labels: extensibility

#4960 Editing code page updates
  docs/python/editing.md
  docs/python/images/editing/hello-world.gif
Labels: python

#4966 New updates, edits, and screenshots
  docs/python/debugging.md
  docs/python/images/debugging/debug-configurations.png
  docs/python/images/debugging/debug-icon.png
Labels: python

#4964 update VS Code overview page
  docs/containers/images/overview/compose-group.png
  docs/containers/images/overview/hover-support.png
  docs/containers/images/overview/select-subset.gif
  docs/containers/images/overview/tab-completions.gif
  docs/containers/overview.md
Labels: containers

#4983 Update the java testing document
  docs/java/images/java-testing/displayname.png
  docs/java/images/java-testing/generate-tests-from-main.mp4
  docs/java/images/java-testing/generate-tests-from-test.mp4
  docs/java/images/java-testing/goto-test.png
  docs/java/images/java-testing/parameterizedtest.png
  docs/java/images/java-testing/report.gif
  docs/java/images/java-testing/report.mp4
  docs/java/images/java-testing/report_navigate.png
  docs/java/images/java-testing/run_codelens.png
  docs/java/images/java-testing/run_explorer.png
  docs/java/images/java-testing/status_bar.png
  docs/java/images/java-testing/test-junit5.gif
  docs/java/images/java-testing/test-junit5.mp4
  docs/java/images/java-testing/test-status.png
  docs/java/images/java-testing/test_report.png
  docs/java/images/java-testing/testng.gif
  docs/java/images/java-testing/testng.mp4
  docs/java/java-testing.md
Labels: java
