Repository microsoft/vscode-docs, pull requests merged in 2021-08, with the labels that each got.

#4731 Update DS Tutorial for native notebooks
  docs/datascience/data-science-tutorial.md
  docs/datascience/images/data-science-tutorial/choose-myenv.png
  docs/datascience/images/data-science-tutorial/dataviewer.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-01.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-02.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-03.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-04.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-05.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-06.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-07.png
  docs/datascience/images/data-science-tutorial/jupyter-cell-08.png
  docs/datascience/images/data-science-tutorial/notebook-editor.png
  docs/datascience/images/data-science-tutorial/notebook-save.png
  docs/datascience/images/data-science-tutorial/plot-viewer.png
  docs/datascience/images/data-science-tutorial/select-kernel.png
  docs/datascience/images/data-science-tutorial/variable-explorer-1.png
  docs/datascience/images/data-science-tutorial/variable-explorer-2.png
  docs/datascience/images/data-science-tutorial/variable-explorer-3.png
Labels: data science

#4729 Python/Jupyter doc update with new images
  docs/datascience/images/overview/jupyter-notebook-preview.png
  docs/python/images/jupyter/code-cells-02.png
  docs/python/images/jupyter/interactive-window-intellisense.gif
  docs/python/images/jupyter/jupyter-data-viewer.png
  docs/python/images/jupyter/jupyter-notebook.png
  docs/python/images/jupyter/jupyter-running-remotely.png
  docs/python/images/jupyter/jupyter-variable-explorer.png
  docs/python/images/jupyter/plot-viewer.gif
  docs/python/jupyter-support-py.md
Labels: python, data science

#4735 Update testing.md
  api/extension-guides/testing.md
Labels: extensibility

#4732 Add minikube-in-docker reference, tips for getting processes to start when the container starts
  docs/remote/containers-advanced.md
Labels: remote

#4736 Update VS Code Java Testing doc to reflect new Testing API from VS Code Core
  docs/java/images/java-testing/command_palette.png
  docs/java/images/java-testing/configuration.png
  docs/java/images/java-testing/editor-decoration.png
  docs/java/images/java-testing/settings.png
  docs/java/images/java-testing/test_explorer.png
  docs/java/images/java-testing/test_report.png
  docs/java/java-testing.md
Labels: java

#4739 Minor typo fixes and clarifications
  docs/remote/containers-advanced.md
Labels: remote

#4745 Remove old -S flag from sample `npm run`.
  api/working-with-extensions/bundling-extension.md
Labels: extensibility

#4700 fix #4699: how to sync user global state across machines
  api/advanced-topics/remote-extensions.md
Labels: extensibility, remote

#4755 Fix page title in java-project.md
  docs/java/java-project.md
Labels: java

#4758 Add missing menu contribution point
  api/references/contribution-points.md
Labels: extensibility

#4757 Add new section for extending test items menu
  api/extension-guides/testing.md
Labels: extensibility

#4727 Add info about Compose profile features
  docs/containers/reference.md
Labels: containers

#4760 Fix typo in Pylance autoImportCompletions setting
  docs/python/settings-reference.md
Labels: python

#4759 Update SSH agent scripts to be PowerShell
  docs/containers/ssh.md
Labels: containers

#4753 Various updates to the Java language overview
  docs/languages/java.md
Labels: java

#4756 Remove Bridge to Kubernetes docs
  docs/containers/bridge-to-kubernetes-aks.md
  docs/containers/bridge-to-kubernetes-sample.md
  docs/containers/bridge-to-kubernetes.md
  docs/containers/images/bridge-to-kubernetes-sample/bridge_configure.png
  docs/containers/images/bridge-to-kubernetes-sample/debug_profile.png
  docs/containers/images/bridge-to-kubernetes-sample/debugging.png
  docs/containers/images/bridge-to-kubernetes-sample/enter_port.png
  docs/containers/images/bridge-to-kubernetes-sample/isolation.png
  docs/containers/images/bridge-to-kubernetes-sample/launch_task.png
  docs/containers/images/bridge-to-kubernetes-sample/select-namespace.png
  docs/containers/images/bridge-to-kubernetes-sample/select_service.png
  docs/containers/images/bridge-to-kubernetes-sample/stats.png
  docs/containers/images/bridge-to-kubernetes-vs-code/btk-isolation-prompt.png
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-bridge-to-kubernetes.png
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-launch.png
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-port.png
  docs/containers/images/bridge-to-kubernetes-vs-code/choose-service.png
  docs/containers/images/bridge-to-kubernetes-vs-code/debug-local-tunnel-context-menu.png
  docs/containers/images/bridge-to-kubernetes-vs-code/debug-local-tunnel.png
  docs/containers/images/bridge-to-kubernetes-vs-code/development-computer-connected.png
  docs/containers/images/bridge-to-kubernetes-vs-code/output-diagnostics.png
  docs/containers/images/bridge-to-kubernetes-vs-code/output.png
  docs/containers/images/bridge-to-kubernetes-vs-code/select-namespace.png
  docs/containers/kubernetes-env-vars.md
  docs/containers/parallel-services.md
Labels: containers

#4754 Small edits to the Java tutorial page
  docs/java/java-tutorial.md
Labels: java

#4437 Automated use of developer command prompt in tasks
  docs/cpp/config-msvc.md
Labels: C++

#4768 Fix typo
  docs/remote/containers-advanced.md
Labels: remote

#4639 Add article on Azure ML extension
  docs/datascience/azure-machine-learning.md
  docs/datascience/images/azure-machine-learning/azure-machine-learning-vscode-extension.png
  docs/datascience/images/azure-machine-learning/language-support.gif
  docs/datascience/images/azure-machine-learning/resource-autocompletion.gif
  docs/datascience/images/azure-machine-learning/specification-file-authoring.gif
Labels: data science
