Repository microsoft/vscode-docs, pull requests merged in 2022-09, with the labels that each got.

#5587 Update dev containers content
  docs/remote/containers.md
  docs/remote/create-dev-container.md
  docs/remote/devcontainer-cli.md
  docs/remote/devcontainerjson-reference.md
  remote/advancedcontainers/reduce-docker-warnings.md
Labels: remote

#5625 Include instructions for yarn
  api/advanced-topics/tslint-eslint-migration.md
Labels: extensibility

#5623 Updating interpreter drop down images and install packages instructions
  docs/python/images/tutorial/interpreter-venv.png
  docs/python/images/tutorial/interpreter.png
  docs/python/python-tutorial.md
Labels: python

#5616 Fixed the description above the text sync example
  api/language-extensions/language-server-extension-guide.md
Labels: extensibility

#5627 Fix macOs installation instruction for sshfs
  docs/remote/troubleshooting.md
Labels: remote

#5629 Features blog
  blogs/2022/09/15/dev-container-features.md
  blogs/2022/09/15/features-list-site.png
Labels: remote

#5634 Fix typo: From dockerFile to dockerfile
  docs/remote/create-dev-container.md
Labels: remote

#5633 cpp/faq-cpp.md: Fix IntelliSense path for MacOs and Linux
  docs/cpp/faq-cpp.md
Labels: C++

#5599 Update mingw toolset instructions
  docs/cpp/config-mingw.md
Labels: C++

#5654 Update install extension button style names
  blogs/2017/09/28/java-debug.md
  docs/java/extensions.md
  docs/java/java-build.md
  docs/java/java-debugging.md
  docs/java/java-gui.md
  docs/java/java-project.md
  docs/java/java-spring-apps.md
  docs/java/java-spring-boot.md
  docs/java/java-testing.md
  docs/java/java-tutorial.md
  docs/java/java-webapp.md
  docs/languages/dotnet.md
  docs/languages/java.md
  docs/languages/python.md
  docs/remote/containers-tutorial.md
  docs/remote/ssh-tutorial.md
  docs/remote/wsl-tutorial.md
  docs/sourcecontrol/github.md
  learn/educators/installers.md
Labels: docs-experience

#5657 Should reference engines.vscode not vscode.engine
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5645 First draft of new Python extension template topic
  api/advanced-topics/python-extension-template.md
  api/toc.json
  build/sitemap.xml
  docs/python/editing.md
  docs/python/linting.md
Labels: python
