Repository microsoft/vscode-docs, pull requests merged in 2022-07, with the labels that each got.

#5444 docs: a proper command to install autopep8
  docs/python/editing.md
Labels: python

#5457 Remote and vscode.dev server updates
  docs/editor/vscode-web.md
  docs/remote/remote-overview.md
Labels: remote

#5450 Update linux.md
  docs/setup/linux.md
Labels: Linux

#5473 Fix environment variables in PowerShell code
  docs/remote/vscode-server.md
Labels: remote

#5456 Add settings for inlay hints with Pylance
  docs/python/settings-reference.md
Labels: python

#5475 Add the -y flag in apt-get example in dockerfile
  docs/remote/create-dev-container.md
Labels: remote

#5469 SonarLint description updated for Java, added for Javascript
  docs/java/java-linting.md
  docs/nodejs/extensions.md
  docs/nodejs/images/extensions/sonarlint.gif
Labels: javascript, java

#5471 Clarify environment variable order of precedence
  docs/python/environments.md
Labels: python, doc-bug

#5470 Clarify launch.json config
  docs/python/debugging.md
Labels: python, doc-enhancement

#5477 Clarify how env files are read
  docs/python/environments.md
Labels: python

#5493 Update events-data.json
  build/events-data.json
Labels: docs-experience

#5487 Added docs for another sync error on Linux
  docs/editor/settings-sync.md
Labels: Linux
