Repository microsoft/vscode-docs, pull requests merged in 2022-03, with the labels that each got.

#5213 Remove references to insiders program
  docs/languages/python.md
  docs/python/settings-reference.md
Labels: python

#5212 Clarify dev container CLIs
  docs/remote/containers.md
  docs/remote/devcontainer-cli.md
Labels: remote

#5217 running into alot of system without wget or gpg
  docs/setup/linux.md
Labels: Linux

#5225 Add edits from Erich
  blogs/2022/03/08/dev-containers-tutorial-screenshot.png
  blogs/2022/03/08/remote-containers-extension.png
  blogs/2022/03/08/the-tutorial-problem.md
Labels: remote

#5231 Documentation: fix capitalization of PostgreSQL
  docs/remote/create-dev-container.md
Labels: remote

#5241 Added message about waitFor and Codespaces
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5191 Add documentation for projectName on compose tasks
  docs/containers/reference.md
Labels: don't merge, remote

#5245 api: document missing semantic highlighting contribution points
  api/references/contribution-points.md
Labels: extensibility

#5242 Improve container registry doc
  docs/containers/images/registries/connect-registry-2.png
  docs/containers/images/registries/explorer-push-image.png
  docs/containers/images/registries/explorer-refresh-registry.png
  docs/containers/images/registries/explorer-registries.png
  docs/containers/images/registries/explorer-tag-image.png
  docs/containers/quickstart-aspnet-core.md
  docs/containers/quickstart-container-registries.md
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
Labels: containers

#5243 Add a section for the R Extension for VS Code
  docs/languages/images/r/completion.gif
  docs/languages/images/r/linting.gif
  docs/languages/images/r/overview.png
  docs/languages/images/r/workspace-viewer.gif
  docs/languages/r.md
Labels: data science

#5251 tweak wording in heading
  docs/containers/quickstart-container-registries.md
Labels: containers

#5256 Add Jupyter section to release notes.
  release-notes/images/1_66/named-index.png
  release-notes/images/1_66/new-notebook.png
  release-notes/v1_66.md
Labels: data science

#5254 Add info about container URLs
  docs/remote/containers.md
  docs/remote/create-dev-container.md
Labels: remote

#5258 Add Rancher Desktop info
  remote/advancedcontainers/docker-options.md
Labels: remote

#5253 remote: update 'Kill VS Code Server on Host' command
  .gitattributes
  docs/remote/troubleshooting.md
Labels: remote
