Repository microsoft/vscode-docs, pull requests merged in 2022-12, with the labels that each got.

#5819 update jupyter command
  docs/datascience/jupyter-notebooks.md
Labels: data science

#5827 Update built-in commands
  api/references/commands.md
Labels: extensibility

#5802 Update code snippet section
  docs/java/java-editing.md
  docs/languages/java.md
Labels: java

#5845 Clarify that closing remote VS Code closes tunnel; fix typo too
  docs/remote/tunnels.md
Labels: remote

#5857 Fix typo, EACCESS -> EACCES
  docs/remote/troubleshooting.md
  docs/remote/wsl.md
Labels: remote

#5869 Fix typo
  blogs/2022/12/07/remote-even-better.md
Labels: remote

#5863 Update java-project.md
  docs/java/images/java-project/context-menu.png
  docs/java/images/java-project/overflow-button.png
  docs/java/images/java-project/projectmanager-createproject.png
  docs/java/java-project.md
Labels: java
