Repository microsoft/vscode-docs, pull requests merged in 2022-10, with the labels that each got.

#5667 Update ports info
  docs/remote/images/ssh/add-new-port.png
  docs/remote/images/ssh/change-local-port.png
  docs/remote/images/ssh/forward-port-ssh.png
  docs/remote/images/ssh/ssh-explorer-forward-port.png
  docs/remote/images/ssh/ssh-tunnel-different-local-port.png
  docs/remote/ssh.md
Labels: remote

#5675 Fix instructions to show builtin extensions
  docs/getstarted/images/themes/built-in-themes.png
  docs/getstarted/themes.md
Labels: don't merge

#5693 Update screenshots for Remote extension rename
  blogs/2020/07/27/15-add-config.png
  blogs/2020/07/27/16-python-config.png
  blogs/2022/03/08/reopen-in-container-prompt.png
  docs/cpp/images/wsl/file-explorer-wsl.png
  docs/cpp/images/wsl/install-in-wsl.png
  docs/remote/containers.md
  docs/remote/create-dev-container.md
  docs/remote/faq.md
  docs/remote/images/containers/container-features.png
  docs/remote/images/containers/feature-contributions.png
  docs/remote/images/containers/repo-container-folder-setting.png
  docs/remote/images/containers/select-dev-container-def-all.png
  docs/remote/images/containers/select-docker-compose.png
  docs/remote/images/containers/select-dockerfile.png
  docs/remote/images/wsl-tutorial/remote-wsl-commands.png
  docs/remote/images/wsl-tutorial/wsl-installed-extensions.png
  docs/remote/troubleshooting.md
  docs/remote/wsl-tutorial.md
  learn/develop-cloud/containers.md
  learn/develop-cloud/images/containers/dev-containers-extension.png
  learn/develop-cloud/images/containers/remote-containers.png
  learn/develop-cloud/images/overview/remote-dev-pack.png
  learn/develop-cloud/images/wsl/remote-wsl.png
  learn/develop-cloud/images/wsl/wsl-extension.png
  learn/develop-cloud/wsl.md
  release-notes/v1_39.md
  remote-release-notes/images/1_43/general-dotfiles-settings.png
  remote-release-notes/images/1_61/configure_container_features.png
  remote-release-notes/images/1_61/execute_in_wsl.png
  remote-release-notes/v1_39.md
  remote-release-notes/v1_41.md
  remote-release-notes/v1_42.md
  remote-release-notes/v1_43.md
  remote-release-notes/v1_44.md
  remote-release-notes/v1_46.md
  remote-release-notes/v1_47.md
  remote-release-notes/v1_61.md
  remote/advancedcontainers/configure-separate-containers.md
  remote/advancedcontainers/images/configure-separate-containers/remote-dev-status-bar.png
  remote/advancedcontainers/images/configure-separate-containers/select-dev-container-def-python.png
Labels: remote

#5637 Update IntelliSense docs to mention indexing and auto imports behaviours and settings
  docs/python/editing.md
  docs/python/settings-reference.md
Labels: python

#5705 Change Python + Azure App Service tutorial link
  docs/python/python-on-azure.md
Labels: python

#5666 Update remote extension known issue
  api/advanced-topics/remote-extensions.md
Labels: extensibility, remote

#5576 Extension Pricing Label docs
  api/working-with-extensions/publishing-extension.md
Labels: extensibility, don't merge

#5708 [BULK] DocuTune - Rebranding of Azure Cosmos DB APIs
  docs/java/java-webapp.md
  learn/educators/learn-modules.md
Labels: don't merge
