Repository microsoft/vscode-docs, pull requests merged in 2022-11, with the labels that each got.

#5704 Add Azure deploy section
  docs/containers/images/app-service/acr-build-image-in-azure.png
  docs/containers/images/app-service/acr-build-image-select-base-os.png
  docs/containers/images/app-service/acr-tag-image.png
  docs/containers/images/app-service/browse-website-button.png
  docs/containers/images/app-service/deploy-image-to-azure-app-service.png
  docs/containers/images/app-service/deploy-to-web-app.png
  docs/containers/quickstart-python.md
Labels: containers

#5760 Misc clarifications and tweaks for dev container content
  blogs/2022/09/15/dev-container-features.md
  docs/devcontainers/containers.md
  docs/devcontainers/devcontainer-cli.md
  release-notes/v1_73.md
  remote-release-notes/v1_73.md
Labels: remote

#5759 Clarify extension unique name restriction issue #5584
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5748 Add more details on auto imports and update default setting value
  docs/python/editing.md
  docs/python/settings-reference.md
Labels: python

#5747 Update to Remote Tunnels
  blogs/2022/07/07/vscode-server.md
  docs/remote/vscode-server.md
Labels: remote

#5761 Updating Python docs to include the Create Environment command
  docs/python/environments.md
  docs/python/images/environments/conda_environment_python_versions.png
  docs/python/images/environments/create_environment_dropdown.png
  docs/python/images/environments/create_environment_prompt_status.png
Labels: python

#5719 Updated the message "Remote-SSH: Connect to Host" to the latest version of vscode "Connect to Host... Remote-SSH"
  docs/remote/ssh-tutorial.md
Labels: remote

#5769 Update Python tutorial help to Discussions Q&A
  docs/python/python-tutorial.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#5771 Update launch.json per current Flask launch.json
  docs/python/tutorial-flask.md
Labels: python

#5772 Make flask sample code style more Pythonic
  docs/python/tutorial-flask.md
Labels: python

#5783 docs/remote/ssh.md: fix typo: "AArch322" to "AArch32"
  docs/remote/ssh.md
Labels: remote

#5779 Remove outdated info about the VSCode server private preview
  docs/remote/vscode-server.md
Labels: remote

#5784 Add IBM Semeru Runtimes to list of JDKs
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#5782 Update to latest dev container repos and terms
  api/advanced-topics/remote-extensions.md
  docs/devcontainers/containers.md
  docs/devcontainers/create-dev-container.md
  docs/remote/linux.md
  remote/advancedcontainers/configure-separate-containers.md
  remote/advancedcontainers/questions-feedback.md
  remote/advancedcontainers/use-docker-kubernetes.md
Labels: remote

#5788 Typo Docker Contexts: Use
  docs/containers/ssh.md
Labels: containers

#5787 fix(docs): authorized_key -> authorized_keys
  docs/remote/troubleshooting.md
Labels: remote

#5638 Fix error in converting probability to binary and update summary.
  docs/datascience/data-science-tutorial.md
  docs/datascience/images/data-science-tutorial/jupyter-cell-08.png
Labels: data science

#5710 Remove ACI references
  docs/containers/app-service.md
  docs/containers/reference.md
Labels: don't merge, containers

#5488 New Docker extension setting name
  docs/containers/troubleshooting.md
  docs/devcontainers/tips-and-tricks.md
Labels: don't merge, containers

#5810 Update other reference to `docker.host`
  remote/advancedcontainers/develop-remote-host.md
Labels: containers
