Repository microsoft/vscode-docs, pull requests merged in 2022-01, with the labels that each got.

#5065 Fix debug config name when debugging tests
  docs/python/testing.md
Labels: python

#5047 Refresh extensions page
  docs/java/extensions.md
  docs/java/images/extensions/extensions.png
Labels: java

#5051 Update JDK part in getting started to be more friendly for new beginners
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#5074 corrects some typos
  docs/python/editing.md
Labels: python

#5066 Update provideCodeActions signature
  api/language-extensions/programmatic-language-features.md
Labels: extensibility

#5078 Update install link
  blogs/2020/07/01/containers-wsl.md
Labels: remote

#5082 Content refresh
  docs/datascience/data-science-tutorial.md
  docs/datascience/images/data-science-tutorial/create-notebook.png
Labels: data science

#4851 Update data-science-tutorial.md
  docs/datascience/data-science-tutorial.md
Labels: data science

#5084 Noting NPM install doesn't support `open`
  docs/remote/devcontainer-cli.md
Labels: remote

#5087 Adding jinja and code to configs
  docs/python/debugging.md
Labels: python

#4988 Add `envFile` to compose task spec
  docs/containers/reference.md
Labels: containers

#5086 Point to Remote-Containers feature contributions
  docs/remote/faq.md
  docs/remote/images/containers/feature-contributions.png
Labels: remote

#5099 Include steps in tutorial to reflect support for live reloading of flask and django
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#5090 Make testing.md more pythonic
  docs/python/testing.md
Labels: python

#5108 Update name property definition in devcontainer.json reference
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5116 Python container doc simplify
  docs/containers/quickstart-python.md
Labels: python, containers

#5115 Edits in Configure Tests section
  docs/python/testing.md
Labels: python

#5119 Include additional properties in attach config table
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5118 Add new dev container repo link
  docs/remote/containers.md
  docs/remote/devcontainer-cli.md
Labels: remote

#5111 Initialize the new section for Java GUI developmment
  docs/java/extensions.md
  docs/java/images/java-gui/create-javafx.png
  docs/java/images/java-gui/run-javafx.mp4
  docs/java/images/java-project/projectmanager-createproject.png
  docs/java/java-faq.md
  docs/java/java-gui.md
Labels: java

#5125 Update tutorial-django.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python
