Repository microsoft/vscode-docs, pull requests merged in 2022-08, with the labels that each got.

#5522 Add updates coming up in the next release of the Python extension
  docs/python/debugging.md
  docs/python/images/debugging/added-configuration.png
  docs/python/images/debugging/debug-auto-config.png
  docs/python/settings-reference.md
Labels: python

#5557 Use double quote to prevent globbing and word splitting
  remote/advancedcontainers/persist-bash-history.md
Labels: remote

#5572 Extend description of running tests in parallel to include pyproject.toml example
  docs/python/testing.md
Labels: python

#5570 Make incremental document synchronization work in the lsp-sample
  api/language-extensions/language-server-extension-guide.md
Labels: extensibility

#5591 Add enumItemLabels documentation
  api/references/contribution-points.md
  api/references/images/contribution-points/settings-ui-icon-theme.png
Labels: extensibility

#5596 Update MSYS2 installer link
  docs/cpp/config-mingw.md
Labels: C++

#5598 correct yapf indent width
  docs/python/editing.md
Labels: python
