Repository microsoft/vscode-docs, pull requests merged in 2022-02, with the labels that each got.

#5128 object used for `in` can't map to functions
  api/references/when-clause-contexts.md
Labels: extensibility

#5137 Add dev container script failure info
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5139 fix small typos in testing.md
  docs/python/testing.md
Labels: python

#5143 Add`testing/item/gutter` menu contribution point
  api/references/contribution-points.md
Labels: extensibility

#5149 Add section: Enable Java tests for unmanaged folders
  docs/java/images/java-testing/enable-tests.mp4
  docs/java/java-testing.md
Labels: java

#5166 fix: correct link
  api/extension-capabilities/extending-workbench.md
Labels: extensibility

#5142 Create doc on container alternatives
  docs/remote/containers.md
  remote/advancedcontainers/docker-options.md
  remote/advancedcontainers/images/platform-options/docker-path-setting.png
  remote/advancedcontainers/questions-feedback.md
Labels: remote

#5171 Add video for enabling AWT development
  docs/java/images/java-gui/enable-awt.mp4
  docs/java/java-gui.md
Labels: java

#5172 Replace screenshots with videos in java-testing.md
  docs/java/images/java-testing/editor-decoration.png
  docs/java/images/java-testing/goto-test.png
  docs/java/images/java-testing/gutter-icon.mp4
  docs/java/images/java-testing/test-explorer.mp4
  docs/java/images/java-testing/test-navigation.mp4
  docs/java/images/java-testing/test-result.mp4
  docs/java/images/java-testing/test_explorer.png
  docs/java/images/java-testing/test_report.png
  docs/java/java-testing.md
Labels: java

#5179 Fixed typo in contributes.menus
  api/references/contribution-points.md
Labels: extensibility

#5183 Update domain eligibility requirements
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5187 Add Remote-SSH + Remote-Containers info
  docs/containers/ssh.md
Labels: containers

#5199 Minor Pylint edits
  docs/python/linting.md
Labels: python

#5198 Repository Containers: Clarify lookup
  docs/remote/create-dev-container.md
Labels: remote

#5188 Ssh-Agent works best with "ForwardAgent yes" in .ssh/config
  docs/remote/troubleshooting.md
Labels: remote

#5197 Add links to string vs array section
  docs/remote/devcontainerjson-reference.md
Labels: remote

#5201 Added Azul Zulu to recommended OpenJDK distributions
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java
