Repository microsoft/vscode-docs, pull requests merged in 2023-10, with the labels that each got.

#6682 Data Sci tutorial: select only numeric cols in pandas corr()
  docs/datascience/data-science-tutorial.md
Labels: data science

#6728 format menu contribution points
  api/references/contribution-points.md
Labels: extensibility

#6716 Properly use ed25519 throughout SSH keys guide
  docs/remote/troubleshooting.md
Labels: remote

#6704 add capabilities entry to extension manifest
  api/references/extension-manifest.md
Labels: extensibility

#6731 Refresh complex commands reference
  api/references/commands.md
Labels: extensibility

#6639 Run Python file in new terminal after running line.
  docs/languages/python.md
Labels: python

#6752 docs: fix webview doc typo
  api/extension-guides/webview.md
Labels: extensibility

#6742 Updating Python formatters
  docs/python/formatting.md
Labels: python

#6754 Clarify where the `scm/sourceControl` menu appears
  api/extension-guides/scm-provider.md
Labels: extensibility

#6755 Add browser version info
  docs/editor/vscode-web.md
Labels: doc-enhancement

#6760 Add FastAPI tutorial to Python docs
  docs/python/images/fastapi-tutorial/create_environment_interpreters_list.png
  docs/python/images/fastapi-tutorial/create_environment_select_requirements.png
  docs/python/images/fastapi-tutorial/debugger_breakpoint.png
  docs/python/images/fastapi-tutorial/devcontainer_indicator.png
  docs/python/images/fastapi-tutorial/devcontainer_python_interpreter.png
  docs/python/images/fastapi-tutorial/devcontainers_python3.png
  docs/python/images/fastapi-tutorial/devcontainers_redis_server_feature.png
  docs/python/images/fastapi-tutorial/dictionarybased_github_branch.png
  docs/python/images/fastapi-tutorial/fastapi_add_redis_quickfix.png
  docs/python/images/fastapi-tutorial/fastapi_breakpoint_hit.png
  docs/python/images/fastapi-tutorial/fastapi_debug_config_option.png
  docs/python/images/fastapi-tutorial/fastapi_debug_terminal.png
  docs/python/images/fastapi-tutorial/fastapi_debugger_variables.png
  docs/python/images/fastapi-tutorial/fastapi_evaluate_debug_console.png
  docs/python/images/fastapi-tutorial/fastapi_execute_button.png
  docs/python/images/fastapi-tutorial/fastapi_first_swagger_page.png
  docs/python/images/fastapi-tutorial/fastapi_tryitout_button.png
  docs/python/images/fastapi-tutorial/function_and_variable_return_type_hint_settings.png
  docs/python/images/fastapi-tutorial/helloworld_browser.png
  docs/python/images/fastapi-tutorial/pylance_inlay_hints.png
  docs/python/images/fastapi-tutorial/pylance_redis_typehint.png
  docs/python/images/fastapi-tutorial/type_checking_mode_setting.png
  docs/python/python-on-azure.md
  docs/python/python-web.md
  docs/python/settings-reference.md
  docs/python/tutorial-create-containers.md
  docs/python/tutorial-fastapi.md
  docs/python/tutorial-flask.md
Labels: python
