Repository microsoft/vscode-docs, pull requests merged in 2023-07, with the labels that each got.

#6461 Update notes and links to dev container spec
  docs/devcontainers/containers.md
  docs/devcontainers/devcontainer-cli.md
Labels: remote

#6470 Update PowerShell documentation
  docs/languages/images/powershell/prerelease-switch.png
  docs/languages/powershell.md
Labels: PowerShell

#6481 Update tunnel section title
  docs/remote/tunnels.md
Labels: remote

#6476 Update formatting docs to remove soon-to-be deprecated settings
  docs/python/editing.md
  docs/python/settings-reference.md
Labels: python

#6491 Freshness pass on C++ docs
  docs/cpp/config-mingw.md
  docs/cpp/images/cpp/cpp-extension.png
  docs/cpp/images/cpp/cpp-install-MSYS2-toolchain.png
  docs/cpp/images/playbutton/debug-button.png
  docs/cpp/images/playbutton/debug-cpp-file-play-button.png
  docs/cpp/images/playbutton/run-debug-arrow.png
  docs/cpp/images/playbutton/run-play-button.png
Labels: don't merge, C++

#6527 Add to Yum/DNF the same comment about code-insiders than the other methods
  docs/setup/linux.md
Labels: Linux

#6523 Updating python -> editing -> troubleshooting table
  docs/python/editing.md
Labels: python, doc-enhancement

#6557 Updates to tunneling docs
  docs/remote/remote-overview.md
  docs/remote/tunnels.md
  docs/remote/vscode-server.md
Labels: remote, doc-enhancement
