Repository microsoft/vscode-docs, pull requests merged in 2023-03, with the labels that each got.

#6091 Update images for Azure Container Apps
  docs/containers/app-service.md
  docs/containers/images/app-service/deploy-image-to-azure-app-service.png
  docs/containers/images/app-service/explorer-push-image.png
  docs/containers/images/app-service/explorer-refresh-registry.png
  docs/containers/images/app-service/explorer-registries.png
  docs/containers/images/app-service/explorer-tag-image.png
  docs/containers/images/quickstarts/deploy-image-to-azure-python.png
  docs/containers/images/registries/azure-image-context-menu.png
  docs/containers/quickstart-python.md
Labels: containers

#6096 add mru kernel picker info
  docs/datascience/images/jupyter-kernel-management/more-kernel-sources.png
  docs/datascience/images/jupyter-kernel-management/mru-kernel.png
  docs/datascience/images/jupyter-kernel-management/noterbook-kernel-picker.gif
  docs/datascience/jupyter-kernel-management.md
Labels: data science

#6101 Fix image links for kernel management topic
  docs/datascience/jupyter-kernel-management.md
Labels: data science

#6005 Fix and update the doc for java-webapp to the latest
  docs/java/images/java-spring-cloud/signinasa.png
  docs/java/images/java-webapp/create-webapp.png
  docs/java/images/java-webapp/deploy-webapp.png
  docs/java/images/java-webapp/devicelogin.png
  docs/java/images/java-webapp/devicelogin2.png
  docs/java/images/java-webapp/login.png
  docs/java/java-spring-apps.md
  docs/java/java-webapp.md
Labels: java, don't merge

#6111 Update Python settings references
  docs/python/editing.md
  docs/python/settings-reference.md
Labels: python

#6117 Update Settings Documentation for C++ Extension
  docs/cpp/customize-default-settings-cpp.md
Labels: C++

#6116 Update Microsoft C++ on Windows documentation to include recent information/links
  docs/cpp/config-msvc.md
  docs/cpp/images/msvc/build-tools-for-vs-2022.png
  docs/cpp/images/msvc/build-tools-for-vs.png
  docs/cpp/images/msvc/desktop_development_with_cpp-2022.png
  docs/cpp/images/msvc/desktop_development_with_cpp.png
Labels: C++

#6105 Update dev container doc based on feedback
  docs/devcontainers/containers.md
Labels: remote, doc-enhancement

#6051 make workspace extensions explanation consistent
  api/advanced-topics/remote-extensions.md
Labels: extensibility

#6149 Minor changes in API docs
  api/extension-guides/overview.md
  api/extension-guides/tree-view.md
  api/language-extensions/snippet-guide.md
  api/ux-guidelines/notifications.md
Labels: extensibility

#6154 reorganize when-clauses-doc
  api/references/when-clause-contexts.md
Labels: extensibility

#6176 Use correct link to images in Python environment doc
  docs/languages/images/python/no-interpreter-selected-statusbar.png
  docs/languages/images/python/selected-interpreter-status-bar.png
  docs/languages/python.md
Labels: python

#6178 Move run selection from editing docs to Python language docs
  docs/languages/python.md
  docs/python/editing.md
Labels: python
