Repository microsoft/vscode-docs, pull requests merged in 2023-01, with the labels that each got.

#5900 c-cpp-properties-schema-reference.md: configurationProvider: mention vscode-cpptools-api
  docs/cpp/c-cpp-properties-schema-reference.md
Labels: C++

#5885 Fix missing reportFunctionMemberAccess
  docs/python/settings-reference.md
Labels: python

#5902 Add when clause view IDs
  api/references/when-clause-contexts.md
Labels: extensibility

#5912 Update Approved Badges
  api/references/extension-manifest.md
Labels: extensibility

#5934 Document systemd support in WSL (microsoft/vscode-remote-release#7821)
  remote/advancedcontainers/docker-options.md
Labels: remote

#5925 Clarify variable substitution is not supported in .env files
  docs/python/environments.md
Labels: python

#5932 ds category updates
  docs/datascience/azure-machine-learning.md
  docs/datascience/data-science-tutorial.md
  docs/datascience/images/data-science-tutorial/plot-viewer-buttons.png
  docs/datascience/images/data-science-tutorial/plot-viewer.png
  docs/datascience/images/jupyter/connect-to-existing.png
  docs/datascience/images/jupyter/enter-server-url.png
  docs/datascience/images/jupyter/enter-url-auth-token.png
  docs/datascience/images/jupyter/notebook-kernel-picker.png
  docs/datascience/images/jupyter/search-filter.png
  docs/datascience/images/jupyter/select-enter-server-url.png
  docs/datascience/images/jupyter/select-existing-server.png
  docs/datascience/images/jupyter/specify-remote.png
  docs/datascience/jupyter-notebooks.md
  docs/datascience/overview.md
  docs/datascience/python-interactive.md
  docs/datascience/pytorch-support.md
Labels: data science

#5926 Add order in which the Python extension selects interpreters
  docs/python/environments.md
Labels: python

#5939 Add images to Git LFS
  docs/datascience/images/data-science-tutorial/plot-viewer-buttons.png
  docs/datascience/images/jupyter/enter-server-url.png
  docs/datascience/images/jupyter/notebook-kernel-picker.png
  docs/datascience/images/jupyter/search-filter.png
  docs/datascience/images/jupyter/select-enter-server-url.png
  docs/datascience/images/jupyter/select-existing-server.png
Labels: data science

#5906 Update dev container content
  docs/devcontainers/containers.md
  docs/devcontainers/create-dev-container.md
  docs/devcontainers/devcontainer-cli.md
  docs/devcontainers/images/tutorial/version-check-updated.png
  docs/devcontainers/tutorial.md
  docs/remote/ssh.md
  docs/remote/wsl.md
  remote/advancedcontainers/add-nonroot-user.md
  remote/advancedcontainers/avoid-extension-reinstalls.md
  remote/advancedcontainers/configure-separate-containers.md
  remote/advancedcontainers/connect-multiple-containers.md
  remote/advancedcontainers/develop-remote-host.md
  remote/advancedcontainers/docker-options.md
  remote/advancedcontainers/improve-performance.md
  remote/advancedcontainers/reduce-docker-warnings.md
  remote/advancedcontainers/set-docker-compose-project-name.md
  remote/advancedcontainers/sharing-git-credentials.md
  remote/advancedcontainers/start-processes.md
  remote/advancedcontainers/use-docker-kubernetes.md
Labels: remote

#5866 Docker content refresh
  docs/containers/bridge-to-kubernetes.md
  docs/containers/debug-common.md
  docs/containers/debug-netcore.md
  docs/containers/debug-node.md
  docs/containers/debug-python.md
  docs/containers/docker-compose.md
  docs/containers/images/overview/container-registry.png
  docs/containers/images/overview/dockerfile-intellisense.png
  docs/containers/images/overview/installation-extension-search.png
  docs/containers/images/quickstarts/aspnetcore-add-dotnet.png
  docs/containers/images/quickstarts/aspnetcore-debug-configuration.png
  docs/containers/images/quickstarts/aspnetcore-intellisense-env.png
  docs/containers/images/quickstarts/aspnetcore-running-container.png
  docs/containers/images/quickstarts/aspnetcore-verify-image.png
  docs/containers/images/registries/azure-image-context-menu.png
  docs/containers/overview.md
  docs/containers/quickstart-aspnet-core.md
  docs/containers/quickstart-container-registries.md
  docs/containers/quickstart-node.md
  docs/containers/quickstart-python.md
  docs/containers/troubleshooting.md
Labels: containers

#5940 Refresh Deploy to App Service article
  docs/containers/app-service.md
Labels: containers

#5933 Add webview context feature
  api/references/contribution-points.md
  api/references/when-clause-contexts.md
Labels: extensibility

#5924 Update "Configure IntelliSense for cross-compiling"
  docs/cpp/configure-intellisense-crosscompilation.md
Labels: C++

#5946 Review and update dates of older Docker articles
  docs/containers/choosing-dev-environment.md
  docs/containers/tutorial-django-push-to-registry.md
Labels: containers

#5938 Update keyboard shortcuts
  docs/editor/vscode-web.md
Labels: remote

#5950 Reordering link list based
  docs/cpp/faq-cpp.md
Labels: C++

#5951 Update debugging.md
  docs/python/debugging.md
Labels: python

#5958 Update python-web.md (small edits for clarity)
  docs/python/python-web.md
Labels: python

#5960 Clean up the environments documentation for Python
  docs/python/environments.md
Labels: python

#5947 notebooks in the browser options
  docs/datascience/images/notebooks-web/codespaces-jupyter-template.png
  docs/datascience/images/notebooks-web/remote-explorer-tab.png
  docs/datascience/images/notebooks-web/select-enter-server-url.png
  docs/datascience/notebooks-web.md
Labels: data science

#5955 python testing doc update
  docs/python/testing.md
Labels: python

#5965 Edits and formatting for new Notebooks on the web
  build/sitemap.xml
  docs/datascience/images/notebooks-web/jupyter-status-bar.png
  docs/datascience/images/notebooks-web/remote-explorer-tab.png
  docs/datascience/images/notebooks-web/select-existing-server.png
  docs/datascience/notebooks-web.md
Labels: data science

#5971 Added the question about extension tab limit
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5976 Edits to new extension tags limit mention
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5982 Remove extension via Marketplace management page
  api/working-with-extensions/images/publishing-extension/remove-extension.png
  api/working-with-extensions/images/publishing-extension/remove-warning.png
  api/working-with-extensions/publishing-extension.md
Labels: extensibility

#5964 Update Flask tutorial
  docs/python/images/flask-tutorial/command-palette.png
  docs/python/images/flask-tutorial/debug-status-bar.png
  docs/python/images/flask-tutorial/new-file-icon.png
  docs/python/images/shared/command-palette.png
  docs/python/images/shared/debug-panel-initial-view.png
  docs/python/tutorial-flask.md
Labels: python

#5963 Updates to Python Tutorial v2
  docs/python/python-tutorial.md
Labels: python

#5984 Fix Indentation Rule
  api/language-extensions/language-configuration-guide.md
Labels: extensibility

#5983 added "continue working on" codespaces to nb web doc
  docs/datascience/images/notebooks-web/continue-working-on-codespaces.png
  docs/datascience/notebooks-web.md
Labels: data science

#5962 kernel options doc
  docs/datascience/images/jupyter-kernel-management/select-enter-server-url.png
  docs/datascience/jupyter-kernel-management.md
Labels: data science

#5977 Updating the deprecated storagePath to storageUri
  api/advanced-topics/remote-extensions.md
  api/extension-capabilities/common-capabilities.md
  docs/remote/troubleshooting.md
Labels: extensibility

#5999 Fix i18n sample link error
  api/extension-guides/overview.md
Labels: extensibility
