Repository microsoft/vscode-docs, pull requests merged in 2023-04, with the labels that each got.

#6201 Added Sentence to Clarify Separation between Tasks & Command Customization
  docs/containers/reference.md
Labels: containers

#6200 Update testing.md
  api/extension-guides/testing.md
Labels: extensibility

#6229 extension building
  docs/datascience/images/overview/jupyter-notebook-preview.png
  docs/datascience/overview.md
Labels: data science
