Repository microsoft/vscode-docs, pull requests merged in 2024-06, with the labels that each got.

#7332 docs: correct instance of incorrect singularization
  api/get-started/extension-anatomy.md
Labels: doc-bug

#7327 Update Ruby documentation to reflect current state
  docs/languages/images/ruby/navigation-placeholder.png
  docs/languages/images/ruby/navigation.mp4
  docs/languages/images/ruby/ruby_lsp_code_lens.png
  docs/languages/images/ruby/ruby_lsp_symbols.png
  docs/languages/ruby.md
Labels: doc-bug

#7343 Update Linux pre-reqs
  docs/remote/linux.md
Labels: remote

#7310 Add Testing user guide outline
  docs/editor/images/testing/run-debug-tests-editor-gutter.png
  docs/editor/images/testing/run-debug-tests-test-explorer.png
  docs/editor/images/testing/run-tests-with-coverage.png
  docs/editor/images/testing/test-coverage-view.png
  docs/editor/images/testing/test-explorer-view-filtering.png
  docs/editor/images/testing/test-explorer-view-test-results.png
  docs/editor/images/testing/test-explorer-view.png
  docs/editor/images/testing/test-results-panel.png
  docs/editor/images/testing/testing-hero.png
  docs/editor/images/testing/view-coverage-in-editor.png
  docs/editor/images/testing/view-coverage-in-explorer.png
  docs/editor/testing.md
Labels: don't merge

#7386 Clarify how auto imports work in Python
  docs/python/editing.md
  docs/python/images/editing/auto-import-suggestion.png
Labels: python

#7399 Fix docker-compose file reference (#7398)
  docs/devcontainers/create-dev-container.md
Labels: doc-bug

#7421 Update linux ssh-agent snippet to include "ssh-add"
  remote/advancedcontainers/sharing-git-credentials.md
Labels: doc-enhancement
