Repository microsoft/vscode-docs, pull requests merged in 2024-02, with the labels that each got.

#7007 properly escape pipe command in General distribution notes
  docs/remote/linux.md
Labels: doc-enhancement

#7014 Fix typo in c_cpp_properties.json
  docs/cpp/c-cpp-properties-schema-reference.md
Labels: C++

#6998 update `formatOnSave` in settings.md
  docs/getstarted/settings.md
Labels: doc-enhancement

#7048 Fix manual .NET installation for Windows example
  docs/csharp/cs-dev-kit-faq.md
Labels: doc-bug

#7051 Update the bundle file location for esbuild scripts
  api/working-with-extensions/bundling-extension.md
Labels: doc-enhancement

#7062 Update Stack Overflow link.
  api/index.md
Labels: doc-enhancement

#7034 Update tunnels doc
  docs/remote/tunnels.md
Labels: remote
