Repository microsoft/vscode-docs, pull requests merged in 2024-10, with the labels that each got.

#7632 Chat response output types
  api/extension-guides/chat.md
Labels: doc-enhancement

#7627 Add new Pylance setting
  docs/python/settings-reference.md
Labels: python

#7615 Adding docs for test coverage
  docs/python/images/testing/python-coverage.gif
  docs/python/testing.md
Labels: python

#7604 Add Language Model API Tutorial
  api/extension-guides/images/lm-api/code-tutor-annotations-gif.gif
  api/extension-guides/images/lm-api/code-tutor-hello-world.png
  api/extension-guides/images/lm-api/code-with-annotations.png
  api/extension-guides/images/lm-api/toggle-tutor-annotations-button.png
  api/extension-guides/images/lm-api/tutor-command-command-palette.png
  api/extension-guides/language-model-tutorial.md
Labels: don't merge

#7684 Update Remote-SSH docs for deprecated setting
  docs/remote/faq.md
  docs/remote/ssh.md
Labels: doc-bug

#7628 Python run
  docs/python/debugging.md
  docs/python/editing.md
  docs/python/environments.md
  docs/python/formatting.md
  docs/python/images/shared/nativeREPL-demo.gif
  docs/python/jupyter-support-py.md
  docs/python/linting.md
  docs/python/python-on-azure.md
  docs/python/python-web.md
  docs/python/run.md
  docs/python/settings-reference.md
  docs/python/testing.md
  docs/python/tutorial-create-containers.md
  docs/python/tutorial-django.md
  docs/python/tutorial-fastapi.md
  docs/python/tutorial-flask.md
Labels: python

#7694 Update package-management.md
  docs/csharp/package-management.md
Labels: doc-enhancement

#7685 Add chat participant detection in extension guide
  api/extension-guides/chat.md
Labels: don't merge, doc-enhancement
