Repository microsoft/vscode-docs, pull requests merged in 2024-05, with the labels that each got.

#7218 Change command to create repositories
  docs/setup/linux.md
Labels: doc-enhancement

#7245 Fix language for list of popular extensions
  docs/setup/additional-components.md
Labels: doc-bug

#7251 Added link to known limitations in SSH agent forwarding documentation
  remote/advancedcontainers/sharing-git-credentials.md
Labels: doc-enhancement

#7267 Add toggle fold
  api/references/commands.md
  docs/customization/keyboard-shortcuts.md
  docs/getstarted/keybindings.md
  docs/getstarted/tips-and-tricks.md
Labels: doc-enhancement

#7265 Update Python Editing docs with more code actions
  docs/python/editing.md
  docs/python/images/editing/change-spelling-code-action.gif
  docs/python/images/editing/implement-inherited-abstract-classes.gif
  docs/python/images/editing/move-symbol.gif
  docs/python/images/editing/move-symbol.png
  docs/python/images/editing/quickFix.gif
  docs/python/images/editing/quickFix.png
  docs/python/images/editing/search-imports-code-action.gif
  docs/python/settings-reference.md
Labels: python

#7283 Update README.md
  README.md
Labels: doc-bug

#7114 Modify a different path for admins on Windows with OpenSSH Server
  docs/remote/troubleshooting.md
Labels: doc-enhancement

#7313 Document the fourth param to vscode.diff
  api/references/commands.md
Labels: doc-bug

#7329 Add note about problems in newer gpg versions for sharing credentials with devcontainer
  remote/advancedcontainers/sharing-git-credentials.md
Labels: doc-enhancement
