Repository microsoft/vscode-docs, pull requests merged in 2024-04, with the labels that each got.

#7116 update `retainContextWhenHidden` docs
  api/extension-guides/images/webview/persistence-retrain.gif
  api/extension-guides/images/webview/retainContextWhenHidden.gif
  api/extension-guides/webview.md
  api/references/vscode-api.md
Labels: doc-bug

#7166 Add dev tunnels policy notes
  docs/editor/port-forwarding.md
  docs/remote/tunnels.md
Labels: remote

#7186 Fixed broken link in 'Create a Dev Container' documentation
  docs/devcontainers/create-dev-container.md
Labels: doc-bug

#7174 Copilot docs updates
  docs/copilot/ai-powered-suggestions.md
  docs/copilot/copilot-chat.md
  docs/copilot/faq.md
  docs/copilot/getting-started-chat.md
  docs/copilot/getting-started.md
  docs/copilot/images/getting-started/copilot-auth-toast.png
  docs/copilot/images/getting-started/request-cfb-access-settings.png
  docs/copilot/images/getting-started/vscode-status-bar-copilot-active.jpg
  docs/copilot/images/setup/copilot-access-toast.png
  docs/copilot/images/setup/copilot-auth-toast.png
  docs/copilot/images/setup/copilot-status-menu.png
  docs/copilot/images/setup/request-cfb-access-settings.png
  docs/copilot/images/setup/vscode-status-bar-copilot-active.png
  docs/copilot/overview.md
  docs/copilot/prompt-crafting.md
  docs/copilot/setup.md
  docs/copilot/workspace-context.md
Labels: doc-enhancement

#7209 docs: endpoint clarification
  docs/remote/vscode-server.md
Labels: doc-enhancement

#7214 DOC: Debug notebooks uses settings, not launch.json configurations.
  docs/datascience/jupyter-notebooks.md
Labels: doc-enhancement

#7223 Unnecessary '^'
  docs/editor/userdefinedsnippets.md
Labels: doc-enhancement

#7229 identifiers: Add Svelte
  docs/languages/identifiers.md
Labels: doc-enhancement
