Repository microsoft/vscode-docs, pull requests merged in 2024-09, with the labels that each got.

#7516 Adding Python Django test docs
  docs/python/testing.md
Labels: python

#7561 Update supported Java versions
  docs/java/java-faq.md
  docs/java/java-tutorial.md
  docs/languages/java.md
Labels: java

#7493 tasks.md: add `source` property to `problemMatcher`
  docs/editor/tasks.md
Labels: doc-enhancement

#7494 tasks.md: mention `problemMatcher.severity`
  docs/editor/tasks.md
Labels: doc-enhancement

#7605 Updating Python Run options to reference Smart Send
  docs/languages/python.md
  docs/python/python-tutorial.md
Labels: python, doc-bug

#7617 Added new Managing dependencies section, fixed one typo
  docs/python/python-tutorial.md
Labels: python
