Repository microsoft/vscode-docs, pull requests merged in 2024-01, with the labels that each got.

#6942 Fix typo and streamline language in documentation
  docs/terminal/shell-integration.md
Labels: doc-enhancement

#6952 Add References to new C++ Youtube Videos
  docs/cpp/config-mingw.md
  docs/cpp/introvideos-cpp.md
Labels: C++

#6946 Clarify Bazel Java plugins
  docs/java/java-project.md
Labels: java

#6960 Add more troubleshooting to linting and formatting for Python
  docs/python/formatting.md
  docs/python/linting.md
Labels: python

#6965 Python quickstat: Fix image links
  docs/python/python-quick-start.md
Labels: python

#6973 Use npx to invoke Yeoman
  api/get-started/your-first-extension.md
Labels: doc-enhancement

#6980 API docs - minor language updates
  api/get-started/your-first-extension.md
Labels: doc-enhancement

#6983 Fix spelling error in docs
  api/extension-guides/virtual-workspaces.md
Labels: doc-enhancement

#6979 Update docs to reference Python Debugger extension
  docs/containers/docker-compose.md
  docs/containers/images/compose/docker-compose-python-remote-attach.png
  docs/languages/images/python/selected-interpreter-status-bar.png
  docs/languages/python.md
  docs/python/debugging.md
  docs/python/environments.md
  docs/python/images/debugging/add-configuration.png
  docs/python/images/debugging/added-configuration.png
  docs/python/images/debugging/configuration-json.png
  docs/python/images/debugging/debug-auto-config.png
  docs/python/images/debugging/debug-button-editor.png
  docs/python/images/debugging/debug-configurations.png
  docs/python/images/debugging/debug-run.png
  docs/python/images/debugging/debug-start-button.png
  docs/python/images/debugging/debug-status-bar.png
  docs/python/images/debugging/debug-troubleshooting-wrong-path.png
  docs/python/images/environments/selected-interpreter-status-bar.png
  docs/python/images/shared/debug-configurations.png
  docs/python/images/shared/python-debugger-extension.png
  docs/python/images/tutorial/debug-configurations.png
  docs/python/python-tutorial.md
  docs/python/testing.md
  docs/python/tutorial-django.md
  docs/python/tutorial-flask.md
Labels: python

#6989 Numbers stay consistent
  api/extension-guides/command.md
Labels: doc-bug

#6992 Update WSL installed extensions screenshots
  docs/remote/images/wsl/wsl-installed-remote-indicator.png
  docs/remote/images/wsl/wsl-local-installed-extensions.png
Labels: doc-enhancement
